{foreach from=$candles item=candle}
<small><b>{$candle.name}</b>, {$candle.timestamp}</small>
<div class="splitter"></div>
{$candle.thoughts}<br><br>
{/foreach}
<a href="javascript:history.go(-1)">&laquo; back</a><br><br>
