<script type="text/javascript" src="js/prototype.js"></script>
<div id="list"><img src="img/loader-big.gif"></div>
<script>
	function page(start) {ldelim}
		new Ajax.Updater('list', 'ajax_plg_list.php', {ldelim}parameters: "action=list_{$list_type}&p={$p}&start="+start});  // add AJAX error handling here
	}
	function order(field) {ldelim}
		new Ajax.Updater('list', 'ajax_plg_list.php', {ldelim}parameters: "action=list_{$list_type}&p={$p}&order="+field});  // add AJAX error handling here
	}
	function list_onload(t) {ldelim}

	}
	new Ajax.Updater('list', 'ajax_plg_list.php', {ldelim}parameters: "action=list_{$list_type}&p={$p}", onComplete: list_onload});	
</script>
