{if $ecommerce}
<script type="text/javascript" src="/js/prototype.js"></script>
<script type="text/javascript" src="/js/cart.js"></script>
<div class="cart" style="text-align: right">shopping cart (<a href="/cart">review</a>): <span id="cart">loading...</span></div>
<script>
	new Ajax.Updater('cart', '/ajax_plg_products.php', {ldelim}parameters: "action=cart_show"});
</script>
{/if}