<script type="text/javascript" src="js/prototype.js"></script>
<div id="products"><img src="img/loader-big.gif"></div>
<script>
	function category(category_id)
	{ldelim}
		new Ajax.Updater('products', 'ajax_sublists.php', {ldelim}parameters: "action=list_front&p={$p}&cat="+category_id+"&hash={$hash}"});  // add AJAX error handling here
	}
	function page(start)
	{ldelim}
		new Ajax.Updater('products', 'ajax_sublists.php', {ldelim}parameters: "action=list_front&p={$p}&cat={$category}&hash={$hash}&start="+start});  // add AJAX error handling here
	}
	function order(field)
	{ldelim}
		new Ajax.Updater('products', 'ajax_sublists.php', {ldelim}parameters: "action=list_front&p={$p}&cat={$category}&hash={$hash}&order="+field});  // add AJAX error handling here
	}
	function product_list_onload(t) 
	{ldelim}

	}
	new Ajax.Updater('products', 'ajax_sublists.php', {ldelim}parameters: "action=list_front&p={$p}&cat={$category}&hash={$hash}", onComplete: product_list_onload});
</script>
