<div id="products{$pass}"><img src="img/loader-big.gif"></div>
{if $pass eq 1}
<script type="text/javascript" src="/js/prototype.js"></script>
<script type="text/javascript" src="/js/cart.js"></script>
{else}
<script>
{/if}
//	function category(category_id)
//	{ldelim}
//		new Ajax.Updater('products', 'ajax_plg_products.php', {ldelim}parameters: "action=list&p={$p}&cat="+category_id});  // add AJAX error handling here
//	}
	function page{$pass}(start)
	{ldelim}
		new Ajax.Updater('products{$pass}', 'ajax_plg_products.php', {ldelim}parameters: "action=list&p={$p}&cat={$category}&pass={$pass}&start="+start});  // add AJAX error handling here
	}
	function order{$pass}(field)
	{ldelim}
		new Ajax.Updater('products{$pass}', 'ajax_plg_products.php', {ldelim}parameters: "action=list&p={$p}&cat={$category}&pass={$pass}&nopg={$nopagenator}&order="+field});  // add AJAX error handling here
	}
	function product_list_onload(t) 
	{ldelim}

	}
	new Ajax.Updater('products{$pass}', 'ajax_plg_products.php', {ldelim}parameters: "action=list&p={$p}&cat={$category}&pass={$pass}&nopg={$nopagenator}&deforder={$deforder}", onComplete: product_list_onload});
</script>
