<input type="text" class="cart-count-product" id="cart-count-{$product.product_id}" name="cart_count[]" title="Item(s) to add/remove from cart" value="1"><br>
<a href="#" onclick="cart({$product.product_id});return false;">add to cart</a><br>
<small id="p{$product.product_id}" count="{$product.count}">
{if $product.count}
	{$product.count} item(s) in cart
	</small><br>
	<div id="r{$product.product_id}">
{else}
	</small><br>
	<div style="display: none" id="r{$product.product_id}">
{/if}
<a href="#" onclick="cart_remove({$product.product_id});return false;">remove</a><br>
<a href="/cart">review cart</a>
</div>