{literal}
<script>
openwin = function(url, width, height) {
  var width = width || 500;
  var height = height || 500;
  var left = (screen.width-width)/2;
  var top = (screen.height-height)/2;
  win=window.open(url, null, config="scrollbars=no,resizable=no,toolbar=no,location=no,menubar=no,width="+width+",height="+height+",top="+top+",left="+left+"");
  win.focus();
}
</script>
{/literal}
{foreach from=$data.movieclips item=movieclip}
  <a href="#" title="view movie" onclick="openwin('/mcplayer.php?id={$movieclip.movieclip_id}&detectflash=false',475,390); return false;"><img src="/img/movieclip.gif" alt="view movie">{$movieclip.title}</a><br>
{/foreach}