<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try{ldelim}
        var pageTracker = _gat._getTracker("{$google_id}");
        pageTracker._trackPageview();
    {rdelim} catch(err) {ldelim}{rdelim}
</script>