{include file="adm_header.tpl" menu="1"}
<form id="form" method="post">
Import data from {$from} to: <br>
<select name="domain_id" id="domain_id">
{html_options options=$domains}
</select>

<input type="hidden" name="action" value="import">
<input type="submit" value="Import!">

</form>
{include file="adm_footer.tpl"}
