<form method="post">
<h1 align = "center">Authorization required</h1>
{if $error}
<p class="error" align = "center">Authorization failed</p>
{/if}
<table align="center">
 <tr><td class="normal">Login:</td><td><input type="text" name="login" size="20"></td></tr>
 <tr><td class="normal">Password:</td><td><input type="password" name="password" size="20"></td></tr>
 <tr><td></td><td><input type="submit" value=" login "></td></tr>
</table>
</form>
