<div id="verse-member-controls">
  <div class="logout"><a href="/{$smarty.get.p}?logout=1">Logout</a></div>
{if $member.privileges != 2}<div class="profile"><a href="/member_profile">Profile</a></div>
  Logged in as: {$member.name}
{/if}
</div>
