<style type="text/css">
	p.breakhere {ldelim}page-break-before: always}
</style>
{section loop=$products name=i}
<h3>{$products[i].name}</h3>
<img src="{$products[i].image}"><br>
<p>{$products[i].description}</p>
<p><b>${$products[i].price}</b></p>
{if $products[i.index_next]}
<p class="breakhere"></p>
{/if}
{/section}
<script>
window.print();
</script>