<div class="member-profile member-profile-form">
<h1>Member profile edit</h1>
<form method="post">
<input type="hidden" name="action" value="save">
<label>Name: <small>(as you would like it to appear to others)</small></label> <input type="text" name="name" value="{$user.name}"><br><br><br><br>
<label>Username:</label> <input type="text" name="login" value="{$user.login}"><br>
<label>Password:</label> <input type="password" name="password"><br>
<label>Retype password:</label> <input type="password" name="password2"><br>
<label>E-mail:</label> <input type="text" name="email" value="{$user.email}"><br>
<label></label><input type="submit" value="Save profile"> <input type="button" value="Cancel" onclick="document.location='/member_profile'">
</form>
</div>
