<script src="js/wall.js"></script>
<script>
function update_wall() {ldelim}
	$("#verse-wall").load("wall.php?w={$wall_id}", hide_progress);
}
</script>
<div id="verse-wall">
	<img src="img/loader-big.gif">
</div>
<script>
	update_wall();
</script>