<div align="center">
<table cellspacing="0" cellpadding="20" width="542" bgcolor="#ffffff" summary="" border="0">
    <tbody>
        <tr>
            <td>

<style>
#cal {
	width: 500px;
	background-color: #F1F0DC;
	color: #4E010A;
	background-image: url(img/cal01-bg.jpg);
}
#cal div.top {
	height: 200px;
	background-image: url(img/cal01-top.jpg);
}
#cal div.month {
	padding-top: 70px;
	padding-left: 30px;
	font: bold 21pt Georgia;
}
#cal div.links {
	padding-top: 15px;
	padding-left: 30px;
}
#cal div.links a {
	display: block;
	width: 70px;
	height: 15px;
	float: left;
	margin-right: 20px;
}
#cal div.links a.prev {
	background-image: url(img/cal01-prev.gif);
}
#cal div.links a.next {
	background-image: url(img/cal01-next.gif);
}
#cal div.center {
	background: url(img/cal01-bgtopright.jpg) no-repeat top right;
}
#cal div.center2 {
	background: url(img/cal01-bgbottom.jpg) no-repeat bottom center;
}
#cal div.inner {
	padding: 10px 30px 10px 10px;
}
table.events_calendar tr.odd {
  background:transparent;
  background-color: #efe6cb;
  filter: alpha(opacity=65);
  opacity: 0.65;
}
table.events_calendar tr.odd * {
  filter: alpha(opacity=100);
  opacity: 1;
}
</style>

<div id="cal">
	<div class="top">
	<div class="month">{calendar_date}</div>
	<div class="links">
		<a href="{calendar_prev}" class="prev"></a>
		<a href="{calendar_next}" class="next"></a>
	</div>
	</div>
	<div class="center">
	<div class="center2">
		<div class="inner">
<div align="left">
		{calendar}</div>
		</div>
	</div>
	</div>
</div>
            
     
</td>
        </tr>
    </tbody>
</table>
</div>