<label for="captcha">Please enter the letters from below. <b>All letters are capital letters</b>:</label>
<input type="text" name="captcha" id="captcha"><br>
<div class="captcha"><img src="/captcha.php"></div>
