<h1>Contact Us</h1>
<div id="contactus">
<fieldset>
<legend>Contact information</legend>
<label for="name">Your Name</label><input class="txt" name="name" id="name"/><br>
<label for="company">Company Name</label><input class="txt" name="company" id="company"/><br>
<label for="email">Email</label><input class="txt" name="email" id="email"/><br>
<label for="phone">Phone Number</label><input class="txt" name="phone" id="phone"/><br>
</fieldset>
<fieldset>
<legend>Description</legend>
<label for="description">Description</label><textarea cols="45" rows="10" name="description" id="description"></textarea><br>
</fieldset>
<label>&nbsp;</label><input type="submit" value="Send"><br>
</div>