<h1>Please, login to continue</h1>
<form method="post">
<label for="thelogin">Username:</label><input type="text" name="thelogin" id="thelogin"><br>
<label for="password">Password:</label><input type="password" name="password" id="password"><br>
<label></label><input type="submit" value="Login">
</form>
