<style>
#obit_search {padding: 15px; margin: 0 auto; background-color: #420703; width: 450px;}
#obit_search .center {padding: 15px 15px 15px 35px; background-color: #d6b86f; text-align: left;}
#obit_search .center h2 {color: #420703; font-size: 26px;}
#obit_search .center h3 {color: #420703; font-size: 14px;}
#obit_search .center label { padding-right: 10px; font-size: 11px;}
#obit_search .btn { height: 25px; font-size: 12px; font-family: Tahoma; color: #fff; border: 1px solid #142513; background-color: #420703; width: 100px; }
#obit_search .submit { padding: 10px 70px 20px 140px; }
</style>
<div align="center">
<table cellspacing="0" cellpadding="0" align="center" summary="" border="0">
<tr align="center">
  <td valign="top" align="center"><br />
  <br />
  <div id="obit_search">
  <div class="center">
  <div class="name">
  <h2>Search Obituaries</h2>
  <h3>Search by Name</h3>
  <label>First Name:</label><input id="#" name="first_name" type="text" /><br />
  <label>Last Name:</label><input id="#" name="last_name" type="text" /><br />
  <label>Home City:</label><input id="#" name="city" type="text" /><br />
  <label>Phrase in Memorial's text:</label><input id="#" name="phrase" type="text" /></div>
  <div class="date">
  <h3>Search by Date Range</h3>
  <label>From date:</label><input id="from_date" size="12" name="from_date" type="text" /><input class="#" id="from_date_b" type="button" value=".." /><br />
  <label>To date:</label><input id="to_date" size="12" name="to_date" type="text" /><input class="#" id="to_date_b" type="button" value=".." /><br />
  &nbsp;</div>
  <div class="submit"><input class="btn" type="submit" value="Search" /></div>
  </div>
  </div>
  <br />
  <div align="center">{recent_obituaries format="<b>%first% %last%</b><br>%home%" page="online-obituary"}</div>
  </td>
</tr>
</table>
</div>
            
