<h1>Registration</h1>
<form method="post">
<input type="hidden" name="action" value="signup">
<label>Name: <small>(as you would like it to appear in discussions)</small></label> <input type="text" name="name"><br><br><br><br>
<label>Username:</label> <input type="text" name="login"><br>
<label>Password:</label> <input type="password" name="password"><br>
<label>Repeat Password:</label> <input type="password" name="password2"><br>
<label>E-mail:</label> <input type="text" name="email"><br>
<label></label><input type="submit" value="Register">
</form>
