<link href="/css/jquery.autocomplete.css" type="text/css" rel="stylesheet">
<script src="/js/jquery.validate.pack.js" type="text/javascript"></script>
<script src="/js/jquery.autocomplete.pack.js" type="text/javascript"></script>

<div id="subscribe_for_obits">
<p>To receive an email when new obituaries are posted on this website, subscribe using the form below:</p>
<form id="subscribe_form">
  <label for="name">Name:</label> <input type="text" name="name" id="name" title="Please enter your username (at least 3 characters)" class="required" minlength="3"><br>
  <label for="email">E-mail:</label> <input type="text" name="email" id="email" title="Please enter a valid email address" class="required email"><br>
<div class="clonearea">
<div class="cloneit" style="display:none;">
  <div><label for="keyword">Keyword(s):</label><input type="text" id="keyword" name="keyword[]"><img src="img/delete.gif" alt="Remove" class="remove-keyword" style="cursor:pointer;" /></div>
</div>
</div>
  <label></label><input type="button" value="Add keyword" id="add_keyword">
  <label></label><input type="submit" value="Subscribe">
</form>
</div>

<div id="subscribe_for_obits_progress" style="display:none">
  Processing... <img src="img/loader.gif">
</div>

<div id="subscribe_for_obits_message" style="display:none">
  
</div>  

<div id="subscribe_for_obits_continue" style="display:none">
  <div>
    <a href="#" onclick="reset_form(); return false;">You can also subscribe with other e-mail address</a>
  </div>
</div>

<script>
var validator;
function reset_form() {
  $("#subscribe_for_obits_message").slideUp("fast", function() {
    $("#subscribe_form")[0].reset();
    validator.resetForm();
    $("#subscribe_for_obits").slideDown("fast");    
  });  
}

function subscribe_handler(message) {
  $("#subscribe_for_obits_progress").slideUp("fast", function() {
    $("#subscribe_for_obits_message").html(message).append($("#subscribe_for_obits_continue").html()).slideDown("fast");
  });
}

function resend_confirmation() {
  $("#subscribe_for_obits_message").slideUp("fast", function() {
    $("#subscribe_for_obits_progress").show();
    $.post("subscribe.php?action=resend_confirmation", $("#subscribe_form").serializeArray(), subscribe_handler, 'text');
  });
}

jQuery(function() {
  validator = $("#subscribe_form").validate({
  	submitHandler: function(theform) {
      $("#subscribe_for_obits").slideUp("fast", function() {
        $("#subscribe_for_obits_progress").show();
        $.post("subscribe.php?action=subscribe_obits", $(theform).serializeArray(), subscribe_handler, 'text');
      });
    }
  });
  $("#add_keyword").bind('click', function() {
      $('.clonearea').append($('.cloneit').html());
      $('.clonearea > div > input').autocomplete('subscribe.php?action=autocomplete');
      $(".remove-keyword").bind('click', function() {
          $(this).parent().remove();
      });
  });
})  
</script>
