<h3>New obituary notification</h3>  
<p>To receive an email when new obituaries are posted on this website, subscribe using the form below:</p>
<form>
  <label for="name">Name:</label> <input type="text" name="name" id="name"><br>
  <label for="email">E-mail:</label> <input type="text" name="email" id="email"><br>
  <label></label><input type="submit" value="Subscribe" >
</form>
