<script type="text/javascript" src="js/swfobject.js"></script>
<div id='webcasting'>Webcasting will be here if scripting enabled and flash installed</div>
<script type="text/javascript">
	var s1 = new SWFObject("tools/player.swf","ply","328","300","9","#FFFFFF");
	s1.addParam("allowfullscreen","true");
	s1.addParam("allowscriptaccess","always");
	s1.addParam("wmode","transparent");
	s1.addParam("flashvars","file=http://ws1.twintierstech.net:6467/pfh.sdp&streamer=rtmp://ws1.twintierstech.net/pfh");
	s1.write("webcasting");
</script>
