.error_list {
	background: #FCC;
}

#verse-obit {
    background-color: #FFF;
    font:13px/1.231 tahoma,arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;
    position: relative;
}

#verse-obit h2 {
    font: bold 15px Arial;
	margin: 0;
}

#verse-obit-iframe-container {
    background-color: #F6F6F6;
    background-image: none;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #EDEDED;
    height: 600px;
    opacity: 1;
    overflow: hidden;
    padding: 35px 20px 20px;
    position: absolute;
    top: 100px;
    z-index: 10;
}

#verse-obit-iframe {
    background-color: #ffffff;
    position: relative;
}

#verse-obit-iframe-close {
    position: absolute;
    top: -32px;
    right: -18px;
}

#verse-obit-iframe-content {
    border: 0;
    display: none;
}

.verse-obit-iframe-loader {
    left: -5px;
    position: absolute;
    top: -25px;
}

.verse-obit-inner {
    color: #6E6E6E;
    overflow: hidden;
    padding: 0 55px 30px;
    zoom: 1;
}

.verse-obit-inner a {
    color: #6B98D5;
}

.verse-obit-inner h1 {
    font-size: 27px;
    left: 0;
    margin: 0 auto;
	position: absolute;
    text-align: center;
	top: 30px;
	width: 100%;
}

.verse-obit-inner h1 a {
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 4px 4px 3px #000000;
}

.verse-obit-top {
    margin: 100px 20px 0;
    overflow: hidden;
}

.verse-obit-title-span {
	padding: 0 30px;
}

.verse-obit-main {
    background-color: #F6F6F6;
    border: #E2E2E2 1px solid;
    border-radius: 5px;
    margin: 0 23px 15px;
    min-height: 520px;
    position: relative;
}

.verse-obit-main-inner {
    padding: 10px;
    margin-bottom: 25px;
	position: relative;
}

.verse-obit-print {
    position: absolute;
    bottom: 5px;
	right: 10px;
}
.verse-obit-print a {
	display: block;
    background: url(img/print.gif) no-repeat;
    padding: 3px 0 6px 23px;
    font-size: 10px;
	font-weight: bold;
	color: #0875B3;
    text-decoration: none;
}

.verse-obit-splitter {
	background: url(img/splitter.gif) repeat-x left center;
    clear: both;
	height: 11px;
	font-size: 0;
}
.verse-obit-splitter-img {
    padding: 5px 0;
    width: 100%;
    height: 1px;
}
.verse-obit-spacer {
	margin-bottom: 15px;
}

.verse-obit-overflow {
	padding-bottom: 20px;
}
.verse-obit-field {
	margin-bottom: 2px;
}
.verse-obit-field-title {
	font-weight: bold;
}

.verse-obit-photo {
    background-color: #F6F6F6;
    border: #E2E2E2 1px solid;
    border-radius: 3px;
    float: left;
    padding: 5px 5px 10px;
	margin: 3px 10px 3px 3px;
}

.verse-obit-information {
    background-color: #F6F6F6;
    border: #E2E2E2 1px solid;
    border-radius: 5px;
    margin: 3px 3px 3px 215px;
    opacity: 0.92;
    padding: 15px 10px 25px;
    position: relative;
}

.verse-obit-progress {
	display: none;
}

.verse-obit-actions {
    font-size: 12px;
    margin: 10px 24px 0;
    overflow: hidden;
}

.verse-obit-action, .verse-obit-actions .verse-obit-action-active, .verse-obit-action:link, .verse-obit-action-active:link, .verse-obit-action:visited {
    border-top: 2px #6B98D5 solid;
    border-right: 2px #6B98D5 solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    float: left;
    height: 100%;
    min-height: 41px;
    min-width: 130px;
    text-decoration: none;
    text-transform: uppercase;
}

.verse-obit-action, .verse-obit-action:link, .verse-obit-action:visited {
    background-color: #F6F6F6;
    background-image: -webkit-linear-gradient(top, #F6F6F6, #FFFEFE);
    background-image: -moz-linear-gradient(top, #F6F6F6, #FFFEFE);
    background-image: -ms-linear-gradient(top, #F6F6F6, #FFFEFE);
    background-image: -o-linear-gradient(top, #F6F6F6, #FFFEFE);
    background-image: linear-gradient(top, #F6F6F6, #FFFEFE);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F6F6F6', EndColorStr='#FFFEFE');
    color: #6B98D5;
}

.verse-obit-action:hover, .verse-obit-actions .verse-obit-action-active {
    background-color: #EEEEEE;
    background: url('img/action-active-bg.png') repeat-x;
    color: #F6F6F6;
    filter: none;
}

.view-obituary {
    border-left: 2px #6B98D5 solid;
}
.verse-obit-action-title {
    font-weight: bold;
    padding: 12px 5px;
    text-align: center;
}
.verse-obit-action-desc {
    font-size: 0.85em;
}

.verse-obit-addmediaform .captcha {
    margin-bottom: 5px;
}

.verse-obit-add-photo, .verse-obit-add-movie, .verse-obit-add-photo:link, .verse-obit-add-movie:link {
    background: url('img/plus.png') no-repeat left 50%;
    color: #6B98D5;
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
    text-decoration: none;
}

.verse-obit-candle {
    clear: both;
    margin-right: 30px;
}

.verse-obit-candle .verse-obit-splitter {
    margin: 0 45px 0 205px;
}

.verse-obit-candle-text {
    background-repeat: no-repeat;
    background-position: 0 50%;
    overflow: hidden;
    margin-left: 45px;
    padding: 10px 0 0 120px;
    vertical-align: middle;
}

.verse-obit-candle-text-height {
    float: left;
    height: 65px;
    overflow: hidden;
    width: 1px;
}

.verse-obit-candle-thoughts-text {
    color: #6E6E6E;
    font-style: italic;
    overflow: hidden;
    padding: 0 45px 5px 0;
}

.verse-obit-candle-thoughts-quote-open {
    background: url('img/q_open.png') no-repeat scroll;
    float: left;
    height: 15px;
    margin: 2px 20px 0 0;
    width: 22px;
}

.verse-obit-candle-thoughts-quote-close {
    background: url('img/q_close.png') no-repeat scroll;
    float: right;
    height: 16px;
    width: 21px;
}

.verse-obit-candle-name-date {
    float: right;
    margin: 5px 45px 10px 0;
}

.verse-obit-candle-name {
    color: #98A0CE;
    font-style: italic;
    margin-right: 5px;
}

.verse-obit-candle-date {
    color: #B7B7B7;
}

.verse-obit-candleform {
    padding-left: 170px;
}

.verse-obit-candleform #candle_name, .verse-obit-candleform #candle_email {
    margin-bottom: 15px;
}

.verse-obit-candleform #candle_memories, .verse-obit-candleform #candle_captcha, .verse-obit-candleform .captcha {
    margin-bottom: 5px;
}

.verse-obit-candleform label {
	display: block;
	float: left;
    font-weight: bold;
	margin-right: 10px;
    width: 80px;
}

.verse-obit-candles-order {
    font-size: 10px;
}

.verse-obit-leave-a-message {
    color: #6B98D5;
    margin: 10px 0;
    text-align: center;
}

.verse-obit-left-margin {
    margin-left: 10px;
}

.verse-obit-no-candles-message {
    color: #6E6E6E;
    margin-top: 75px;
    text-align: center;
}

.verse-obit-no-media-message {
    margin-left: 10px;
    text-align: center;
}

.verse-obit-media-caption {
    float: left;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    width: 100px;
}

.verse-obit-mediaphotos .highslide img {
    border: 0;
}

.verse-obit-mediaphotos .jcarousel-clip {
    width: 505px;
}

.verse-obit-mediaphotos .verse-obit-photos,
.verse-obit-mediaphotos .jcarousel-container {
    float: none;
    margin: 0 auto;
    width: 505px;
}

.verse-obit-mediaphotos .jcarousel-container {
    padding: 0 65px;
}

.verse-obit-mediaphotos .jcarousel-prev {
    background-image: url('img/arrow-left.png');
}

.verse-obit-mediaphotos .jcarousel-next {
    background-image: url('img/arrow-right.png');
}

.verse-obit-mediaphotos .jcarousel-prev,
.verse-obit-mediaphotos .jcarousel-next {
    height: 42px;
    top: 30px;
    width: 41px;
}

.verse-obit-mediaphotos .jcarousel-item,
.verse-obit-mediaphotos .highslide-gallery ul li {
    height: 130px;
    margin: 0 35px 0 0;
    width: 100px;
}

.verse-obit-mediaphotos .highslide-gallery ul li.last {
    margin-right: 0;
}

.verse-obit-mediaphotos .highslide-gallery ul li {
    background: none;
    border: 0;
    line-height: 16px;
}

.verse-obit-mediaphotos .verse-obit-media {
    padding: 0;
}

.verse-obit-movie {
    float: left;
    margin: 10px;
    height: 130px;
    overflow: hidden;
    width: 100px;
}

.verse-obit-movie-container {
    margin: 0 auto;
    overflow: hidden;
    width: 480px;
}

.verse-obit-movieclip a {
    display: block;
    background: url(img/movieclip.gif) no-repeat;
    padding: 8px 0 8px 45px;
    text-decoration: underline;
    min-height: 17px;
}

.verse-obit-movieclip a:hover {
    text-decoration: none;
}

.verse-obit-scrapbook a {
    display: block;
    background: url(img/album.gif) no-repeat;
    padding: 8px 0 8px 45px;
    text-decoration: underline;
}

.verse-obit-scrapbook a:hover {
    text-decoration: none;
}

.verse-obit-share {
    position: absolute;
    right: 10px;
    top: 10px;
}

.verse-obit-themeimage {
    background-position: right top;
    background-repeat: no-repeat;
}

.addthis_toolbox {
    _display: none; /* hide it in IE6, doesn't work there */
}

