.calendar {
    background-color: #F1F0DC;
    background-image: url("/img/cal01-bg.jpg");
    color: #4E010A;
    margin: 0 auto;
    overflow: hidden;
    width: 550px;
}

.calendar-content {
    background: url("/img/cal01-bgtopright.jpg") no-repeat scroll right top transparent;
    padding: 10px 30px 10px 10px;
}

.calendar-day {
    overflow: hidden;
}

.calendar-links {
    padding-left: 30px;
    padding-top: 15px;
}

.calendar-links a {
    display: block;
    float: left;
    height: 15px;
    margin-right: 20px;
    width: 70px;
}

.calendar-month, .calendar-links, .calendar-content {
    clear: both;
}

.calendar-month {
    text-align: center;
}

.calendar-month {
    font: bold 21pt Georgia;
    padding-left: 30px;
    padding-top: 70px;
}

.calendar-top {
    background-image: url("/img/cal01-top.jpg");
    height: 200px;
}

.date, .weekday, .events {
    float: left;
}

.date {
    font-weight: bold;
    width: 5%;
}

.even {
    background: none repeat scroll 0 0 #EFE6CB;
    opacity: 0.65;
}

.name-type {
    font-weight: bold;
}

.name-type a {
    text-decoration: none;
}

.name-type a:hover {
    text-decoration: underline;
}

.next {
    background-image: url("/img/cal01-next.gif");
}

.prev {
    background-image: url("/img/cal01-prev.gif");
    margin-right: 20px;
}

.weekday {
    width: 15%;
}