a:link, a.verse-obit-backlink {
    color: #718FCF;
}

.error_list {
	background: #FCC;
}

#verse-obit {
    font:13px/1.231 tahoma,arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;
    margin-top: 50px;
    position: relative;
}

#verse-obit h2 {
	margin: 0;
	color: #718FCF;
	font: bold 15px Arial;
}

#verse-obit .verse-obit-left-inner h2 {
    font-weight: normal;
}

.verse-obit-name {
    overflow:  hidden;
    padding-left: 20px;
}

.verse-obit-name h1 a {
    color: #718FCF;
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
}

.verse-obit-inner {
    background-color: #F6F6F6;
    border: #DBDBDB 1px solid;
    border-radius: 5px;
    color: #868686;
    height: 100%;
    overflow: hidden;
    zoom: 1;
}

.verse-obit-inner h1 {
	position: absolute;
	top: 10px;
	left: 0;
	margin: 0 auto;
	width: 100%;
}

.verse-obit-title-span {
	padding: 0 10px 0 25px;
    color: #000;
	position: relative;
}

.verse-obit-title-span2 {
    color: #F0F0F0;
	position: relative;
	top: -26px;
	left: 2px;
	z-index: 1;
}

.verse-obit-left {
	float: left;
    overflow: hidden;
    width: 40%;
}

.verse-obit-left-inner {
    border-right: #DBDBDB 1px solid;
    height: 100%;
    overflow: hidden;
    padding: 15px 5px 15px 15px;
    position: relative;
}

.verse-obit-main {
    float: left;
    overflow: hidden;
    width: 60%;
}

.verse-obit-main-inner {
    padding: 0 5px;
	position: relative;
}

.verse-obit-main-inner-box {
    padding: 20px 10px 15px 25px;
}

.verse-obit-print {
    position: absolute;
	right: 20px;
	top: 5px;
}

.verse-obit-print a {
	display: block;
    background: url(img/print.png) no-repeat;
    padding: 5px 0 6px 32px;
	font-weight: bold;
}

.verse-obit-splitter {
    background: url("img/splitter.png") repeat-x scroll left center transparent;
    height: 1px;
    margin: 5px 0 10px;
    width: 100%;
}

.verse-obit-spacer {
	margin-bottom: 15px;
}

.verse-obit-overflow {
	overflow: hidden;
    zoom: 1;
}

.verse-obit-field-group {
	width: 50%;
	float: left;
	min-width: 230px;
}

.verse-obit-field {
	margin-bottom: 5px;
}

.verse-obit-field-title {
	font-weight: bold;
}

.verse-obit-actions {
    overflow: hidden;
    text-transform: uppercase;
}

.verse-obit-action, .verse-obit-action:link, .verse-obit-action:visited {
    background-color: #CCD4F8;
    background-image: -webkit-linear-gradient(top, #CCD4F8, #9A9EC1);
    background-image: -moz-linear-gradient(top, #CCD4F8, #9A9EC1);
    background-image: -ms-linear-gradient(top, #CCD4F8, #9A9EC1);
    background-image: -o-linear-gradient(top, #CCD4F8, #9A9EC1);
    background-image: linear-gradient(top, #CCD4F8, #9A9EC1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#CCD4F8', EndColorStr='#9A9EC1');
    border-radius: 5px;
    border-top: #E1E3F8 2px solid;
    border-right: #BBBDD2 1px solid;
    border-bottom: #9CA0C3 1px solid;
    border-left: #BEC5E1 2px solid;
    box-shadow: 2px 2px 5px 0 #CFCFCF;
    color: #ffffff;
    display: block;
    float: left;
    margin: 10px;
    padding: 0 5px;
    text-decoration: none;
    min-width: 90px;
}

.verse-obit-action:hover, .verse-obit-action-active {
    background-color: #FAFBFF;
    background-image: -webkit-linear-gradient(top, #FAFBFF, #D5DBE9);
    background-image: -moz-linear-gradient(top, #FAFBFF, #D5DBE9);
    background-image: -ms-linear-gradient(top, #FAFBFF, #D5DBE9);
    background-image: -o-linear-gradient(top, #FAFBFF, #D5DBE9);
    background-image: linear-gradient(top, #FAFBFF, #D5DBE9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FAFBFF', EndColorStr='#D5DBE9');
    border-top: #E3E3EB 2px solid;
    border-right: #E3E6EF 1px solid;
    border-bottom: #CED2D3 1px solid;
    border-left: #E6EAED 2px solid;
    color: #8690C1;
    text-decoration: none;
}

.verse-obit-action div {
    color: #ffffff;
    margin: 2px auto 5px;
    text-align: center;
}

.verse-obit-action:hover div {
    color: #8690C1;
}

.verse-obit-action-active, .verse-obit-action-active:link, .verse-obit-action-active:visited {
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0 #CFCFCF;
    display: block;
    float: left;
    margin: 10px;
    min-width: 90px;
    padding: 0 5px;
    text-decoration: none;
}

.verse-obit-action-active div {
    color: #8690C1;
    margin: 2px auto 5px;
    text-align: center;
}


.verse-obit-action-title {
    font-weight: bold;
	color: #0875B3;
}

.verse-obit-action-desc {
    font-size: 0.85em;
}

.verse-obit-addmediaform {
    padding: 15px 10px 0 25px;
}

.verse-obit-candle {
    background-color: #ffffff;
    border: #DBDBDB 1px solid;
    border-radius: 5px;
    color: #868686;
    font-style: italic;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 20px 15px 10px 0;
}

.verse-obit-candle .verse-obit-splitter {
    margin-right: 10px;
    overflow: hidden;
}

.verse-obit-candleform {
    padding: 15px 10px 15px 25px;
}

.verse-obit-candleform div {
    overflow: hidden;
}

.verse-obit-candleform label {
	width: 80px;
	display: block;
	float: left;
	margin-right: 5px;
}

.verse-obit-candle-name {
    color: #9898CC;
    float: right;
}

.verse-obit-candle-text {
    background: url("img/candle.png") no-repeat 15px 50% transparent;
    overflow: hidden;
    padding-left: 65px;
    vertical-align: middle;
}

.verse-obit-candle-thoughts {
    overflow: hidden;
    padding-left: 10px;
}

.verse-obit-candle-thoughts-text {
    clear: both;
    float: left;
    margin: 5px 0;
}

.verse-obit-candle-thoughts-quote-open {
    background: url('img/q_open.png') no-repeat scroll;
    clear: both;
    float: left;
    height: 15px;
    width: 22px;
}

.verse-obit-candle-thoughts-quote-close {
    background: url('img/q_close.png') no-repeat scroll;
    clear: both;
    float: right;
    height: 16px;
    width: 21px;
}

.verse-obit-candle-text-height {
    float: left;
    height: 50px;
    width: 1px;
}

.verse-obit-info {
    padding: 10px 10px 10px 25px;
}

.verse-obit-candles-order {
    color: #868686;
    font-size: 10px;
    padding: 10px 0;
}

.verse-obit-death-date {
    color: #718FCF;
    overflow:  hidden;
    padding-top: 30px;
}

.verse-obit-death-date span {
    clear: both;
    float: left;
    font-size: 1.1em;
}

.verse-obit-mediaphotos, .verse-obit-mediamovies {
    padding-left: 15px;
}

.verse-obit-movieclip a {
    display: block;
    background: url(img/movieclip.png) no-repeat;
    padding: 8px 0 8px 45px;
    text-decoration: underline;
    min-height: 17px;
}

.verse-obit-movieclip a:hover {
    text-decoration: none;
}

.verse-obit-name {
    color: #718FCF;
    font-size: 30px;
}

.verse-obit-photo-container {
    overflow: hidden;
}

.verse-obit-photo-container div {
    float: left;
    overflow: hidden;
}

.verse-obit-photo {
    background-color: #F8F8F8;
    border: #DEDEDE 1px solid;
    border-radius: 3px;
    -moz-box-shadow: 0 0 2px 2px #E5E5E5;
    -webkit-box-shadow: 0 0 2px 2px #E5E5E5;
    box-shadow: 0 0 2px 2px #E5E5E5;
	margin: 10px 20px 20px 3px;
    padding: 5px 5px 10px;
}

.verse-obit-progress {
	display: none;
}

.verse-obit-workarea {
    color: #868686;
}

.verse-obit-workarea .verse-obit-info h2 {
    padding: 0;
}

.verse-obit-scrapbook a {
    display: block;
    background: url(img/album.png) no-repeat;
    padding: 8px 0 8px 45px;
    color: #718FCF;
    text-decoration: underline;
}

.verse-obit-scrapbook a:hover {
    text-decoration: none;
}

.verse-obit-share {
    padding: 15px 0 20px 0;
}

.addthis_toolbox {
    _display: none; /* hide it in IE6, doesn't work there */
}
