body {
    margin: 0;
    background-color: #eee;
    font: 13px/1.231 arial, helvetica, clean, sans-serif;
}

form {
    margin: 0;
}

img {
    border: 0;
}

#content {
    margin: 10px 10px 0px 10px;
}

#content h1 {
    font-size: 138.5%;
}

#content h2 {
    font-size: 14px;
    font-family: Verdana;
    font-weight: bold;
    color: #4A4A4A;
}

#head {

}

#menu {
    background: #535455 url(/img/menubg.png);
    color: #FFF;
}

#menu #menu_in {
    background: url(/img/ttt-web-small.png) no-repeat;
    height: 57px;
    padding: 10px 0 3px 80px;
}

#menu a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    padding: 7px 6px;
    display: block;
    float: left;
}

#menu a:hover {
    background: #FFF;
    color: #222;
}

#menu a.current {
    background-color: #F9A61A;
}

#menu a.current:hover {
    background: #FFF;
    color: #F9A61A;
}

#menu ul {
    padding: 0 15px;
    margin: 0;
}

#menu .endofgroup {
    margin-right: 10px;
}

#menu2 {
    background-color: #00D0A0;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 1px 0px 1px 0px;
    margin: 0px 10px 0px 10px;
    position: relative;
    top: -5px;
}

#menu2 #menu_in {
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #DDDDDD;
    padding: 4px 5px 4px 5px;
}

#menu2 a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 4px 8px 4px 8px;
}

#menu2 a:hover {
    color: #FFFFFF;
    background-color: #0088AF;
}

div.actions {
    font-size: 12px;
    margin: 4px 0 10px 0;
}

div.actions a {
    color: #464646;
    text-decoration: none;
}

div.actions a:hover {
    text-decoration: underline;
}

div.info {
    font: 13px Arial;
    margin-bottom: 10px;
}

div.info a {
    color: #000090;
    text-decoration: none;
}

div.info a:hover {
    text-decoration: underline;
}

div.submenu {
    font-size: 13px;
    margin-bottom: 10px;
}

div.submenu a {
    color: #464646;
    text-decoration: none;
}

div.submenu a:hover {
    text-decoration: underline;
}

div.popupmenu {
    position: absolute;
    border: 1px solid #333333;
    background-color: #E0E0E0;
    padding: 3px;
    cursor: default;
}

div.menuitem {
    padding: 1px 0;
}

div.menuitem a {
    color: #000000;
    text-decoration: none;
    padding: 1px 2px;
}

div.menuitem a:hover {
    background-color: #C0F9FF;
    border: 1px solid #A0A0FF;
}

.dialog form {
    text-align: left;
}

table {
    font-size: 13px;
    border-collapse: collapse;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

table.pagenator tr {
    background-color: #E7EEF6;
}

table.pagenator {
    border-collapse: separate;
    border: 1px solid #DDD;
}

tr {
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
}

th, td {
    vertical-align: top;
    padding: 0.5em;
}

#modal_dialog table {
    border: 0;
}

#modal_dialog table tr {
    border: 0;
    background-color: transparent;
}

div.controls {
    margin-bottom: 5px;
}

#periodString {
    font-size: 20px;
    margin-bottom: 10px;
}

#currentPeriod {
    border-bottom: 1px dotted #520202;
}

#datePicker {
    font-size: 12px;
}

fieldset div {
    overflow: hidden;
}
