.gyCaptcha {
    overflow: hidden;
	width: 152px;
}

.gyCaptchaSelected {
  border: 3px dashed #cc0000 !important;
  height: 70px;
  width: 70px;
}

.gyCaptchaUnselected {
  border: 3px dashed #eeeeee !important;
  height: 70px;
  width: 70px;
}
