<div class="calendar">
    <div class="calendar-top">
        <div class="calendar-month">{{ data.date }}</div>
        <div class="calendar-links"><a href="?t={{ data.prev }}" class="prev"></a><a href="?t={{ data.next }}" class="next"></a></div>
    </div>
    <div class="calendar-content">
        {% for item in data.items %}
            <div class="calendar-day {{ item.class }}">
                <div class="date">{{ item.date }}</div>
                <div class="weekday">{{ item.weekday }}</div>
                <div class="events">
                    {% for event in item.events %}
                        <div class="event">
                            <div class="name-type"><a href="/online-obituary/{{ event.obituary_slug }}/{{ event.obituary_id }}">{{ event.name }} {{ event.type }}</a></div>
                            <div class="description">{% if event.time %}{{ event.time }}, {% endif %}{{ event.description }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>