<link rel="stylesheet" href="/css/bootstrap.css">
<form action="{{ app.request.pathinfo }}" method="post">
    {{ form_errors(form) }}
    <div class="clearfix">
        {{ form_errors(form.name) }}
        {{ form_label(form.name) }}{{ form_widget(form.name) }}
    </div>
    <div class="clearfix">
        {{ form_errors(form.company) }}
        {{ form_label(form.company) }}{{ form_widget(form.company) }}
    </div>
    <div class="clearfix">
        {{ form_errors(form.email) }}
        {{ form_label(form.email) }}{{ form_widget(form.email) }}
    </div>
    <div class="clearfix">
        {{ form_errors(form.phone) }}
        {{ form_label(form.phone) }}{{ form_widget(form.phone) }}
    </div>
    <div class="clearfix">
        {{ form_errors(form.message) }}
        {{ form_label(form.message) }}{{ form_widget(form.message) }}
    </div>
    <div class="clearfix">
        <label>&nbsp;</label><input type="submit" value="Send"/>
    </div>
</form>