<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/obituaries-search.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/blitzer/jquery-ui.css" type="text/css" media="all"/>
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Tangerine:regular,bold">
<link type="text/css" rel="stylesheet" href="/css/obituaries-search.css">
<h1>Obituaries search</h1>
<div class="obit-search-form">
    <form action="{{ app.request.pathinfo }}" method="post">
    <div class="obit-search-form-item obit-search-name">
        {{ form_widget(form.text) }}
    </div>
    <div class="obit-search-date">
        <div class="obit-search-form-item obit-search-datefrom">
            <a href="#" class="obit-search-form-clear-date" datetype="from" title="Click to clear date">clear</a>
            {{ form_widget(form.datefrom) }}
        </div>
        <div class="obit-search-form-item obit-search-date-delimiter">-</div>
        <div class="obit-search-form-item obit-search-dateto">
            <a href="#" class="obit-search-form-clear-date" datetype="to" title="Click to clear date">clear</a>
            {{ form_widget(form.dateto) }}
        </div>
    </div>
    <div class="obit-search-form-item obit-search-homeplace">
        {{ form_widget(form.homeplace, {'empty_value': '-- All cities --'}) }}
    </div>
{% if form.domain_id | default(false) %}
    <div class="obit-search-form-item obit-search-domain">
        {{ form_widget(form.domain_id, {'empty_value': '-- All funeral homes --'}) }}
    </div>
{% endif %}
    <div class="obit-search-form-item obit-search-sumbit">
        {% if theme and theme!='default' %}
            <input type="image" src="/img/{{ theme }}-search.png" name="search" value="Search obituaries"/>
            <input type="image" src="/img/{{ theme }}-reset.png" name="reset" value="Reset"/>
        {% else %}
            <input type="image" src="/img/search.png" name="search" value="Search obituaries"/>
            <input type="image" src="/img/reset.png" name="reset" value="Reset"/>
        {% endif %}
    </div>
    {{ form_rest(form) }}
    </form>
</div>
{% if paginator %}
<div class="obit-search-total">Found <strong>{{ paginator.results }}</strong> record(s)</div>
<div class="obit-search-results">
<div class="obit-search-header">
<div class="obit-search-header-item obit-search-header-name">
{{ "Name"|order("last_name")|raw }}
</div>
<div class="obit-search-header-item obit-search-header-date">
{{ "Date of Death"|order("death_date")|raw }}
</div>
<div class="obit-search-header-item obit-search-header-homeplace">
{{ "Home Place"|order("home_place")|raw }}
</div>
</div>
{% for item in paginator.items %}
<a href="{{ app.request.pathinfo }}/{{ item.obituary_slug }}/{{ item.obituary_id }}">
<div class="obit-search-row">
<div class="obit-search-row-item obit-search-row-image">
{% if item.image %}<img src="/{{ item.image|thumbnail }}">{% else %}<img src="img/nt-nophoto.jpg">{% endif %}
</div>
<div class="obit-search-row-top">
    <div class="obit-search-row-item obit-search-row-name">
    {{ item.last_name }}, {{ item.first_name }} {{ item.middle_name }}
    </div>
    <div class="obit-search-row-item obit-search-row-deathdate">
    {{ item.death_date|date("m/d/Y") }}
    </div>
    <div class="obit-search-row-item obit-search-row-homeplace">
    {{ item.home_place }}
    </div>
{% if form.domain_id | default(false) %}
    <div class="obit-search-row-item obit-search-row-domain">
    {{ item.title }}
    </div>
{% endif %}
</div>
<div class="obit-search-row-text">
{{ item.obit_text|striptags|truncate(200) }}
</div>
</div>
</a>
{% else %}
<div class="obit-search-no-results">
No obituaries found. Please refine search condition.
</div>
{% endfor %}
</div>
<div class="obit-search-paginator">
{{ paginator|paginate|raw }}
</div>
{% endif %}
<script>
jQuery(function() {
    var dates = $("#obit_search_datefrom, #obit_search_dateto").datepicker( {
        defaultDate: "+1w",
        changeYear: true,
        numberOfMonths: 3,
        onSelect: function( selectedDate ) {
            var option = this.id == "obit_search_datefrom" ? "minDate" : "maxDate",
                instance = $( this ).data( "datepicker" ),
                date = $.datepicker.parseDate(
                    instance.settings.dateFormat ||
                    $.datepicker._defaults.dateFormat,
                    selectedDate, instance.settings );
            dates.not( this ).datepicker( "option", option, date );
        }
    } );
});
</script>
