{% if paginator.totalPages > 1 %}
<div class="pagination">
	{% if paginator.current != 1 %}
        <span class="first">
            {{ "&lt;&lt;"|page(1)|raw }}
        </span>
        <span class="previous">
            {{ "&lt;"|page(paginator.current-1)|raw }}
        </span>
    {% endif %}

    {% for page in 1..paginator.totalPages %}
        {% if page != paginator.current %}
            <span class="page">
                {{ page|page|raw }}
            </span>
        {% else %}
            <span class="page current">{{ page }}</span>
        {% endif %}

    {% endfor %}

    {% if paginator.current != paginator.totalPages %}
        <span class="next">
            {{ "&gt;"|page(paginator.current+1)|raw }}
        </span>
        <span class="last">
            {{ "&gt;&gt;"|page(paginator.totalPages)|raw }}
        </span>
    {% endif %}
</div>
{% endif %}
