.error_list {
	background: #FCC;
}

#verse-obit {
    font:13px/1.231 tahoma,arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;
    position: relative;
}

#verse-obit h1 {
    font-size: 22px;
}

#verse-obit h2 {
	margin: 0;
	color: #7C181D;
	font: bold 15px Arial;
}

.verse-obit-inner {
    background-image: -webkit-linear-gradient(top, #EFEFEF, #CBCACA);
    background-image: -moz-linear-gradient(top, #EFEFEF, #CBCACA);
    background-image: -ms-linear-gradient(top, #EFEFEF, #CBCACA);
    background-image: -o-linear-gradient(top, #EFEFEF, #CBCACA);
    background-image: linear-gradient(top,#EFEFEF, #CBCACA);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#EFEFEF', EndColorStr='#CBCACA');
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    zoom: 1;
}

.verse-obit-inner h1 {
	position: absolute;
	top: 10px;
	left: 0;
	margin: 0 auto;
	width: 100%;
}

.verse-obit-title-span {
	padding: 0 10px 0 25px;
    color: #000;
	position: relative;
}

.verse-obit-title-span2 {
    color: #F0F0F0;
	position: relative;
	top: -26px;
	left: 2px;
	z-index: 1;
}

.verse-obit-left {
	float: left;
    overflow: hidden;
    width: 40%;
}

.verse-obit-left-inner {
    border-right: #B3B2B2 1px solid;
    height: 100%;
    overflow: hidden;
    padding: 50px 10px 10px 25px;
    position: relative;
}

.verse-obit-left-inner h1 a {
    text-decoration: none;
}

.verse-obit-main {
    float: left;
    overflow: hidden;
    width: 60%;
}

.verse-obit-main-inner {
	position: relative;
}

.verse-obit-main-inner-box {
    padding: 20px 10px 15px 25px;
}

.verse-obit-no-candles-message, .verse-obit-no-media-message {
    padding: 0 10px 0 25px;
}

.verse-obit-print {
    position: absolute;
	right: 10px;
	top: 3px;
}

.verse-obit-print a {
	display: block;
    background: url(img/print.gif) no-repeat;
    padding: 5px 0 6px 32px;
	font-weight: bold;
	color: #0875B3;
}

.verse-obit-splitter {
    width: 100%;
    height: 1px;
}

.verse-obit-spacer {
	margin-bottom: 15px;
}

.verse-obit-field-group {
	width: 50%;
	float: left;
	min-width: 230px;
}

.verse-obit-field {
	margin-right: 10px;
}

.verse-obit-field-title {
	font-weight: bold;
}

.verse-obit-actions {
    overflow: hidden;
    padding: 0 25px;
}

.verse-obit-action, .verse-obit-action:link, .verse-obit-action:visited {
    background: url("img/button_red_bg.png") repeat-x;
    border-radius: 5px;
    border-top: #939393 1px solid;
    border-right: #4C4C4C 1px solid;
    border-bottom: #4C4C4C 1px solid;
    border-left: #939393 1px solid;
    -moz-box-shadow: 3px 3px 3px 0 #656565;
    -webkit-box-shadow: 3px 3px 3px 0 #656565;
    box-shadow: 3px 3px 3px 0 #656565;
    display: block;
    float: left;
    height: 33px;
    margin: 10px;
    padding: 0 5px;
    text-decoration: none;
    min-width: 90px;
}

.verse-obit-action:hover {
    background-image: url("img/button_grey_bg.png");
    text-decoration: none;
}

.verse-obit-action div {
    color: #ffffff;
    font-family: 'Tangerine',serif;
    font-size: 20px;
    margin: 5px auto;
    text-align: center;
}

.verse-obit-action:hover div {
    color: #FF0000;
}

.verse-obit-action-title {
    font-weight: bold;
	color: #0875B3;
}

.verse-obit-action-desc {
    font-size: 0.85em;
}

.verse-obit-addmediaform {
    padding: 15px 10px 0 25px;
}

.verse-obit-candle {
    border-bottom: #AFAFAF 1px solid;
    overflow: hidden;
    padding: 20px 25px 25px 0;
}

.verse-obit-candleform {
    padding: 15px 10px 15px 25px;
}

.verse-obit-candleform div {
    overflow: hidden;
}

.verse-obit-candleform label {
	width: 80px;
	display: block;
	float: left;
	margin-right: 5px;
}

.verse-obit-candle-name {
    color: #DF3636;
    float: right;
    padding-top: 10px;
}

.verse-obit-candle-text {
    background: url("img/candle1.png") no-repeat;
    background-position: 25px;
    overflow: hidden;
    padding-left: 75px;
    vertical-align: middle;
}

.verse-obit-candle-text-height {
    float: left;
    height: 45px;
    width: 1px;
}

.verse-obit-info {
    padding: 10px 10px 10px 25px;
}

.verse-obit-candles-order {
    font-size: 10px;
    padding-left: 25px;
}

.verse-obit-death-date {
    color: #BE3134;
    padding-top: 10px;
}

.verse-obit-mediaphotos, .verse-obit-mediamovies {
    padding-left: 15px;
}

.verse-obit-movieclip {
    padding: 0 10px 0 25px;
}

.verse-obit-movieclip a {
    display: block;
    background: url(img/movieclip.gif) no-repeat;
    padding: 8px 0 8px 45px;
    color: #7A4F5B;
    text-decoration: underline;
    min-height: 17px;
}

.verse-obit-movieclip a:hover {
    text-decoration: none;
}

.verse-obit-name {
    color: #BE3134;
    font-family: 'Tangerine',serif;
    font-size: 30px;
}

.verse-obit-photo-container {
    overflow: hidden;
}

.verse-obit-photo-container div {
    float: left;
    overflow: hidden;
}

.verse-obit-photo {
    border: #242424 2px solid;
    -moz-box-shadow: 3px 3px 3px 0 #6F6E6E;
    -webkit-box-shadow: 3px 3px 3px 0 #6F6E6E;
    box-shadow: 3px 3px 3px 0 #6F6E6E;
	margin: 10px 20px 20px 0;
}

.verse-obit-progress {
	display: none;
}

.verse-obit-workarea .verse-obit-backlink {
    padding-left: 25px;
}

.verse-obit-workarea h2, .verse-obit-workarea h3 {
    padding: 0 10px 0 25px;
}

.verse-obit-workarea .verse-obit-info h2 {
    padding: 0;
}

.verse-obit-scrapbook a {
    display: block;
    background: url(img/album.gif) no-repeat;
    padding: 8px 0 8px 45px;
    color: #7A4F5B;
    text-decoration: underline;
}

.verse-obit-scrapbook a:hover {
    text-decoration: none;
}

.verse-obit-share {
    padding: 15px 0 20px 0;
}

.addthis_toolbox {
    _display: none; /* hide it in IE6, doesn't work there */
}
