.obit-search-form form {
    overflow: hidden;
}
.obit-search-form input, .obit-search-form select {
    border: 0;
    background-color: #eaeaea;
    padding: 4px 10px;
    border-radius: 12px;
    color: #6b6b6b;
    box-shadow: 0px 1px 0px 0 #656565;
    margin-bottom: 1px;
}
.obit-search-form select {
    width: 185px;
}
.obit-search-form .obit-search-sumbit {
    float: right;
}

.obit-search-form-item {
    float: left;
    margin-right: 10px;
    margin-bottom: 3px;
}
.obit-search-name input {
    background: #eaeaea url(/img/nt-search-bg.png) no-repeat right 3px;
    padding-right: 24px;
    width: 200px;
}
.obit-search-datefrom {
    margin-right: 3px;
}
.obit-search-date-delimiter {
    margin-left: 7px;
}
.obit-search-datefrom input, .obit-search-dateto input {
    width: 70px;
}
a.obit-search-form-clear-date {
    color: #DB474A;
}

.obit-search-results {
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 38px 20px 20px 20px;
    position: relative;
    margin-top: 32px;
    color: #6B6B6B;
}
.obit-search-results a {
    text-decoration: none;
}
.obit-search-no-results {
    margin-top: 15px;
}

.obit-search-header {
    overflow: hidden;
    position: absolute;
    top: -18px;
    left: 10%;
    width: 90%;
}
.obit-search-header-item {
    float: left;
    margin-right: 10%;
    margin-bottom: 5px;
}
.obit-search-header-item a {
    display: block;
    color: #FFF;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000;
    border-radius: 5px;
    border-top: #939393 1px solid;
    border-right: #4C4C4C 1px solid;
    border-bottom: #4C4C4C 1px solid;
    border-left: #939393 1px solid;
    box-shadow: 3px 3px 3px 0 #656565;
    font: bold 28px 'Tangerine',serif;
    padding: 5px 10px;
    background-color: #db474a;
    background-image: -webkit-linear-gradient(top, #f16a6d, #ca2d30);
    background-image: -moz-linear-gradient(top, #f16a6d, #ca2d30);
    background-image: -ms-linear-gradient(top, #f16a6d, #ca2d30);
    background-image: -o-linear-gradient(top, #f16a6d, #ca2d30);
    background-image: linear-gradient(top, #f16a6d, #ca2d30);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f16a6d', EndColorStr='#ca2d30');
}
.obit-search-header-item a.obit-search-order-selected {
    color: #db474a;
    text-shadow: 1px 1px 0 #fff;
    background-color: #efefef;
    background-image: -webkit-linear-gradient(top, #d6d6d6, #ffffff);
    background-image: -moz-linear-gradient(top, #d6d6d6, #ffffff);
    background-image: -ms-linear-gradient(top, #d6d6d6, #ffffff);
    background-image: -o-linear-gradient(top, #d6d6d6, #ffffff);
    background-image: linear-gradient(top, #d6d6d6, #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d6d6d6', EndColorStr='#ffffff');
}

.obit-search-row {
    overflow: hidden;
    background-color: #8e8888;
    border-radius: 8px;
    padding: 8px 13px;
    color: #FFF;
    margin-bottom: 12px;
}
.obit-search-row-item {
    float: left;
}
.obit-search-row-image {
    border: #242424 2px solid;
    box-shadow: 3px 3px 3px 0 #404040;
    border-radius: 3px;
    margin-right: 16px;
}
.obit-search-row-name, .obit-search-row-deathdate, .obit-search-row-homeplace, .obit-search-row-domain {
    font: bold 31px 'Tangerine',serif;
    margin-right: 20px;
}
.obit-search-row-top {
    overflow: hidden;
    margin-bottom: 5px;
}

.obit-search-paginator {
    float: right;
    margin-top: 10px;
}
.obit-search-paginator span {
    border: 1px solid red;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #d8d8d8, #ffffff);
    background-image: -moz-linear-gradient(top, #d8d8d8, #ffffff);
    background-image: -ms-linear-gradient(top, #d8d8d8, #ffffff);
    background-image: -o-linear-gradient(top, #d8d8d8, #ffffff);
    background-image: linear-gradient(top, #d8d8d8, #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d8d8d8', EndColorStr='#ffffff');
    width: 20px;
    display: block;
    float: left;
    margin-right: 3px;
    text-align: center;
    font-weight: bold;
}
.obit-search-paginator span a {
    text-decoration: none;
    color: #c92c2f;
    display: block;
    text-align: center;
    font-weight: normal;
}

.obit-search-total {
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 2px 20px;
    margin-top: 5px;
    color: #6b6b6b;
    font: 12px Arial;
    float: right;
    border: 1px solid #db474a;
}

#ui-datepicker-div {
    font-size: 12px;
}
.ui-datepicker-header {
    background-color: #db474a !important;
    background-image: -webkit-linear-gradient(top, #f16a6d, #ca2d30) !important;
    background-image: -moz-linear-gradient(top, #f16a6d, #ca2d30) !important;
    background-image: -ms-linear-gradient(top, #f16a6d, #ca2d30) !important;
    background-image: -o-linear-gradient(top, #f16a6d, #ca2d30) !important;
    background-image: linear-gradient(top, #f16a6d, #ca2d30) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f16a6d', EndColorStr='#ca2d30') !important;
}
