.error_list {
	background: #FCC;
}

#verse-obit {
  font:13px/1.231 tahoma,arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;
  position: relative;
	border: 2px solid #000;
	padding: 2px;
  color: #000;
}
#verse-obit h1 {
  font-size: 22px;
}
#verse-obit h2 {
	margin: 0;
	color: #7C181D;
	font: bold 15px Arial;
}

.verse-obit-inner {
  background: #FFF url(img/sky.jpg) no-repeat right 0;
	border: 1px solid #000;
  overflow: hidden;
  zoom: 1;
}
.verse-obit-inner h1 {
	position: absolute;
	top: 10px;
	left: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.verse-obit-title-span {
	padding: 0 30px;
	text-shadow: 2px 1px 1px #FFFFFF;
  color: #000;
	position: relative;
	z-index: 2;
}
.verse-obit-title-span2 {
  color: #F0F0F0;
	position: relative;
	top: -26px;
	left: 2px;
	z-index: 1;
}
.verse-obit-left {
	width: 200px;
	float: left;
}
.verse-obit-left-inner {
  padding: 50px 0 10px 15px;
}
.verse-obit-main {
  padding: 70px 0 0 200px;
}
.verse-obit-main-inner {
  padding: 10px;
	position: relative;
}

.verse-obit-print {
  position: absolute;
	right: 10px;
	top: 3px;
}
.verse-obit-print a {
	display: block;
  background: url(img/print.gif) no-repeat;
  padding: 5px 0 6px 32px;
	font-weight: bold;
	color: #0875B3;
}

.verse-obit-splitter {
	background: url(img/splitter.gif) repeat-x left center;
	height: 11px;
	font-size: 0;
}
.verse-obit-splitter-img {
  padding: 5px 0;
  width: 100%;
  height: 1px;
}
.verse-obit-spacer {
	margin-bottom: 15px;
}

.verse-obit-overflow {
	overflow: hidden;
  zoom: 1;
}
.verse-obit-field-group {
	width: 50%;
	float: left;
	min-width: 230px;
}
.verse-obit-field {
	margin-right: 10px;
}
.verse-obit-field-title {
	font-weight: bold;
}

.verse-obit-photo {
	width: 180px;
	margin-bottom: 25px;
}

.verse-obit-progress {
	display: none;
}
.verse-obit-action, .verse-obit-action:link, .verse-obit-action:visited {
	display: block;
	padding-left: 55px;
	text-decoration: none;
	color: inherit;
	margin-bottom: 15px;
	min-height: 45px;
	_height: 45px; /* IE6 stuff */
}
.verse-obit-action:hover {
	color: #0875B3;
}
.verse-obit-action-title {
  font-weight: bold;
	color: #0875B3;
}
.verse-obit-action-desc {
  font-size: 0.85em;
}

.verse-obit-candleform label {
	width: 80px;
	display: block;
	float: left;
	margin-right: 5px;
}

.verse-obit-info {
  padding: 10px 0;
}

.verse-obit-candles-order {
  font-size: 10px;
}
.verse-obit-movieclip a {
  display: block;
  background: url(img/movieclip.gif) no-repeat;
  padding: 8px 0 8px 45px;
  color: #7A4F5B;
  text-decoration: underline;
  min-height: 17px;
}
.verse-obit-movieclip a:hover {
  text-decoration: none;
}
.verse-obit-scrapbook a {
  display: block;
  background: url(img/album.gif) no-repeat;
  padding: 8px 0 8px 45px;
  color: #7A4F5B;
  text-decoration: underline;
}
.verse-obit-scrapbook a:hover {
  text-decoration: none;
}

.verse-obit-share {
  padding: 15px 0 20px 0;
}

.addthis_toolbox {
  _display: none; /* hide it in IE6, doesn't work there */
}
