.obit-search-form {
    background-color: #CBD5FE;
    background-image: -webkit-linear-gradient(top, #CBD5FE, #3E77D2);
    background-image: -moz-linear-gradient(top, #CBD5FE, #3E77D2);
    background-image: -ms-linear-gradient(top, #CBD5FE, #3E77D2);
    background-image: -o-linear-gradient(top, #CBD5FE, #3E77D2);
    background-image: linear-gradient(top, #CBD5FE, #3E77D2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#CBD5FE', EndColorStr='#3E77D2');
    border-top: #FBFCFF 1px solid;
    border-right: #BBBDD2 1px solid;
    border-bottom: #9CA0C3 1px solid;
    border-left: #C4D0F9 1px solid;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 #CFCFCF;
    margin-bottom: 2px;
}
.obit-search-form form {
    overflow: hidden;
    padding: 15px 10px 5px;
}
.obit-search-form input, .obit-search-form select, .obit-search-form .obit-search-date {
    border: 0;
    background-color: #ffffff;
    padding: 4px 10px;
    border-radius: 12px;
    color: #6b6b6b;
    box-shadow: inset 1px 2px 2px 0 #C9CBC6;
}
.obit-search-form select {
    width: 185px;
}
.obit-search-form .obit-search-sumbit {
    float: right;
    margin-right: 0;
}
.obit-search-form .obit-search-date {
    background: #ffffff url(/img/blue-search-bg.png) no-repeat 172px 4px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    padding: 4px 10px 1px;
    width: 175px;
}
.obit-search-form-item {
    float: left;
    margin-right: 10px;
    margin-bottom: 3px;
}
.obit-search-name input {
    background: #ffffff url(/img/blue-search-bg.png) no-repeat 210px 4px;
    padding-right: 24px;
    width: 200px;
}
.obit-search-date-delimiter {
    margin: 0 5px;
}
.obit-search-datefrom, .obit-search-dateto {
    margin-bottom: 0;
    margin-right: 0;
    overflow:  hidden;
}
.obit-search-datefrom input, .obit-search-dateto input {
    background-color: #EEF2FD;
    border: #CBD5FE 1px solid;
    box-shadow: none;
    overflow:  hidden;
    padding: 0;
    width: 70px;
}
a.obit-search-form-clear-date {
    color: #CBD5FE;
}

.obit-search-results {
    background-color: #F6F6F6;
    border-left: #DEDEDE 1px solid;
    border-top: #DEDEDE 1px solid;
    border-right: #DEDEDE 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px 5px 5px;
    position: relative;
    margin-top: 32px;
    color: #6B6B6B;
}
.obit-search-results a {
    text-decoration: none;
}
.obit-search-no-results {
    margin-top: 15px;
}

.obit-search-header {
    border-bottom: #E7E7E7 1px solid;
    overflow: hidden;
    padding-bottom: 20px;
}
.obit-search-header-item {
    float: left;
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 170px;
    text-align: center;
    text-transform: uppercase;
    width: 135px;
}
.obit-search-header-item a {
    background-color: #CBD5FE;
    background-image: -webkit-linear-gradient(top, #CBD5FE, #3E77D2);
    background-image: -moz-linear-gradient(top, #CBD5FE, #3E77D2);
    background-image: -ms-linear-gradient(top, #CBD5FE, #3E77D2);
    background-image: -o-linear-gradient(top, #CBD5FE, #3E77D2);
    background-image: linear-gradient(top, #CBD5FE, #3E77D2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#CBD5FE', EndColorStr='#3E77D2');
    border-radius: 5px;
    border-top: #FBFCFF 1px solid;
    border-right: #BBBDD2 1px solid;
    border-bottom: #9CA0C3 1px solid;
    border-left: #C4D0F9 1px solid;
    box-shadow: 2px 2px 5px 0 #CFCFCF;
    color: #FFF;
    display: block;
    padding: 5px;
    text-decoration: none;
}
.obit-search-header-item a.obit-search-order-selected {
    background-image: -webkit-linear-gradient(top, #FAFBFF, #D5DBE9);
    background-image: -moz-linear-gradient(top, #FAFBFF, #D5DBE9);
    background-image: -ms-linear-gradient(top, #FAFBFF, #D5DBE9);
    background-image: -o-linear-gradient(top, #FAFBFF, #D5DBE9);
    background-image: linear-gradient(top, #FAFBFF, #D5DBE9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FAFBFF', EndColorStr='#D5DBE9');
    border-top: #E3E3EB 1px solid;
    border-right: #E3E6EF 1px solid;
    border-bottom: #CED2D3 1px solid;
    border-left: #E6EAED 1px solid;
    color: #3E77D2;
}

.obit-search-row {
    overflow: hidden;
    border-right: #E7E7E7 1px solid;
    border-bottom: #E7E7E7 1px solid;
    border-left: #E7E7E7 1px solid;
    padding: 10px 30px;
    color: #4C4C4C;
}
.obit-search-row-item {
    float: left;
}
.obit-search-row-image {
    background-color: #F8F8F8;
    border: #DEDEDE 1px solid;
    border-radius: 3px;
    -moz-box-shadow: 0 0 2px 2px #E5E5E5;
    -webkit-box-shadow: 0 0 2px 2px #E5E5E5;
    box-shadow: 0 0 2px 2px #E5E5E5;
    margin-right: 30px;
    padding: 5px 5px 10px;
}
.obit-search-row-name, .obit-search-row-deathdate, .obit-search-row-homeplace, .obit-search-row-domain {
    font-size: 17px;
    margin-right: 20px;
}
.obit-search-row-name {
    min-width: 310px;
}
.obit-search-row-homeplace {
    float: right;
}
.obit-search-row-text {
    color: #888888;
    overflow: hidden;
}
.obit-search-row-text:after {
    content: "View Details";
    color: #718FCF;
    float: right;
    padding-top: 25px;
}
.obit-search-row-top {
    color: #718FCF;
    overflow: hidden;
    margin-bottom: 5px;
}
.obit-search-row-top .obit-search-row-item {
    font-size: 1.2em;
}

.obit-search-paginator {
    background-color: #F6F6F6;
    border-right: #DEDEDE 1px solid;
    border-bottom: #DEDEDE 1px solid;
    border-left: #DEDEDE 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    padding: 0 2px 5px 5px;
}
.obit-search-paginator .pagination {
    float: right;
}
.obit-search-paginator span {
    border: 1px solid #918C92;
    background-color: #F6F6F6;
    width: 20px;
    display: block;
    float: left;
    margin-right: 3px;
    text-align: center;
    font-weight: bold;
}
.obit-search-paginator span.current {
    color: #2E7DFF;
    border-color: #2E7DFF;
}
.obit-search-paginator span a {
    text-decoration: none;
    color: #918C92;
    display: block;
    text-align: center;
    font-weight: normal;
}
.obit-search-paginator span a:hover {
    color: #2E7DFF;
}

.obit-search-total {
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 2px 20px;
    margin-top: 5px;
    color: #6b6b6b;
    font: 12px Arial;
    float: right;
    border: 1px solid #CBD5FE;
}

#ui-datepicker-div {
    font-size: 12px;
}

.ui-datepicker-header {
    background-color: #CBD5FE !important;
    background-image: -webkit-linear-gradient(top, #CBD5FE, #3E77D2) !important;
    background-image: -moz-linear-gradient(top, #CBD5FE, #3E77D2) !important;
    background-image: -ms-linear-gradient(top, #CBD5FE, #3E77D2) !important;
    background-image: -o-linear-gradient(top, #CBD5FE, #3E77D2) !important;
    background-image: linear-gradient(top, #CBD5FE, #3E77D2) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#CBD5FE', EndColorStr='#3E77D2') !important;
}

#ui-datepicker-div .ui-datepicker-header {
    border: 1px solid #3E77D2;
}

#ui-datepicker-div .ui-state-hover .ui-icon {
    background-image: url(/css/images/ui-icons_2e83ff_256x240.png);
}