body, html {
    padding: 0;
}

body {
    background: url(/img/Mountains.jpg) fixed bottom center #FFF;
}

small {
    background: #FFF;
    padding: 2px;
    border: 2px solid #3F75C7;
}

.fields_config small {
    border: none;
}

#container {
    height: 100%;
    position: relative;
    min-width: 1000px;
}

#menu {
    background: #2C67C3 url(/img/menu-strip.jpg) repeat-x;
    color: #FFF;
    margin-bottom: 10px;
}

#menu .inner {
    background: url(/img/ttt-web-small.png) no-repeat;
    height: 60px;
    padding: 10px 0 0 65px;
}

#menu a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    padding: 7px 6px;
    display: block;
}

#menu a:hover {
    background: #FFF;
    color: #222;
}

#menu a.current {
    background-color: #F9A61A;
}

#menu a.current:hover {
    background: #FFF;
    color: #F9A61A;
}

#menu ul {
    padding: 0 15px;
    margin: 0;
}

#menu li {
    float: left;
    margin: 0;
    list-style-type: none;
}

#menu .endofgroup {
    margin-right: 10px;
}

ul#verse-admin-menu li ul {
    display: none;
    padding: 0;
    position: absolute;
    z-index: 10;
    zoom: 1; /* ie */
}

ul#verse-admin-menu li ul li {
    background-color: #2C67C3;
    float: none;
}

#help {
    position: absolute;
    right: 20px;
    z-index: 10;
}

#content {
    margin: 20px 20px 0 20px;
    padding-bottom: 70px;
    overflow: hidden;
}

#login-container {
    background: url(/img/headerbar.png) repeat-x;
    font-size: 16px;
    padding-bottom: 60px;
}

#login-title {
    height: 121px;
    margin-bottom: 30px;
    text-align: center;
}

#login-form {
    border: 2px solid #3F75C7;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #FFF;
    width: 300px;
    margin: 0 auto;
    min-height: 200px;
    padding: 20px 60px;
}

#login-form th, #login-form td {
    border: 0;
}

#login-form th {
    font-weight: normal;
    font-size: 14px;
    text-align: left;
}

#login-form #signin_username,
#login-form #signin_password {
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #83A5C7 #D3E1EE #D3E1EE #83A5C7;
    font-size: 10pt;
}

#message {
    font-size: 13px;
    width: 595px;
    margin: 20px auto;
    border: 2px solid #3F75C7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #FFF;
    padding: 10px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: url(/img/ttt-logo-small.png) no-repeat #3F75C7;
}

.in {
    margin: 5px 0 0 90px;
    float: left;
    width: 150px;
}

.in, .sales,
.billing,
.mims,
.web {
    color: #FFF;
    font-size: 11px;
}

.sales,
.billing,
.mims,
.web {
    padding: 5px 5px 0 5px;
    width: 200px;
    float: right;
}

.sales a:link,
.billing a:link,
.mims a:link,
.web a:link {
    color: #FFF;
    text-decoration: none;
}

.sales a:hover,
.billing a:hover,
.mims a:hover,
.web a:hover {
    font-style: italic;
}

#sf_admin_container {
    position: relative;
}

#sf_admin_container .notice,
#sf_admin_container .error {
    width: 400px;
}

#sf_admin_container ul.sf_admin_td_actions li {
    font-size: 93%;
}

/* forms */
#sf_admin_container .help {
    font-size: 14px;
    color: #F00;
}

#sf_fieldset_name .sf_admin_form_row {
    border-bottom: 0;
    float: left;
    clear: none !important;
}

#sf_admin_container .sf_admin_form_row_title {
    font-weight: bold;
}

#sf_fieldset_name .sf_admin_form_field_title {
    clear: left !important;
}

#sf_fieldset_name .sf_admin_form_field_middle_name label,
#sf_fieldset_name .sf_admin_form_field_last_name label,
#sf_fieldset_name .sf_admin_form_field_suffix label {
    display: none;
}

#sf_fieldset_name .sf_admin_form_field_middle_name div.content,
#sf_fieldset_name .sf_admin_form_field_last_name div.content,
#sf_fieldset_name .sf_admin_form_field_suffix div.content {
    padding-left: 0;
}

#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field1enabled,
#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field2enabled {
    float: left;
}

#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field1title,
#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field1type {
    float: left;
    clear: none !important;
}

#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field2title,
#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field2type {
    float: left;
    clear: none !important;
}

#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field1title label,
#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field1type label {
    width: 3em;
}

#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field1title .content,
#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field1type .content {
    padding-left: 4em;
}

#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field2title label,
#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field2type label {
    width: 3em;
}

#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field2title .content,
#sf_fieldset_additional_checkout_fields .sf_admin_form_field_field2type .content {
    padding-left: 4em;
}

#sf_admin_container #plg_obituary_home_place,
#sf_admin_container #plg_obituary_birth_place,
#sf_admin_container #plg_obituary_final_disposition,
#sf_admin_container #plg_obituary_image {
    width: 25em;
}

#sf_admin_container #plg_obituary_visitation_place,
#sf_admin_container #plg_obituary_service_place,
#sf_admin_container #plg_obituary_service_google_addr,
#sf_admin_container #plg_obituary_finaldisposition_google_addr {
    width: 40em;
}

#sf_fieldset_obituary tr,
#sf_fieldset_obituary tr:hover {
    background-color: #F0F0EE;
}

#sf_admin_bar .sf_admin_form_row ul.checkbox_list li {
    display: block;
}

#sf_admin_bar .sf_admin_form_row ul.radio_list li {
    display: block;
}

#sf_admin_content .mceToolbar td {
    border-width: 0;
}

#sf_admin_content .mceToolbar {
    border-bottom: 0;
}

#sf_admin_bar .sf_admin_filter_field_state ul.checkbox_list li {
    display: block;
}

#verse_submenu {
    margin: 40px 0;
}

#verse_submenu a {
    color: #FFF;
    background: #3F75C7;
    border: 2px solid #FFF;
    padding: 2px;
    font-size: 14px;
}

#verse_submenu a:hover {
    color: #3F75C7;
    background: #FFF;
    border: 2px solid #3F75C7;
    padding: 2px;
    text-decoration: none;
}

#scrapbook-images-list {
    overflow: hidden;
}

#scrapbook-images-list li {
    list-style-type: none;
    margin: 0 10px 5px 0;
    float: left;
}

.ckfinder_input {
    background: url(/img/attach.png) top right no-repeat;
    padding-right: 16px;
}

.hasDatepicker {
    background: url(/img/browse.png) top right no-repeat;
    padding-right: 16px;
}

#sf_admin_content .sf_admin_form_field_filename {
    overflow: hidden;
}

#sf_admin_container .sf_admin_form_field_permissions_list .checkbox_list li,
#sf_admin_container .sf_admin_form_field_groups_list .checkbox_list li {
    display: block;
}

#sf_admin_container .sf_admin_form_field_filename .help {
    clear: left;
}

.swfupload-wrapper .swfupload-queue-startuploadlink {
    display: none;
}

.swfupload-wrapper .swfupload-queue-canceluploadlink {
    display: none;
}

.swfupload-wrapper .swfupload-queue .swfupload-queue-messagecontainer {
    display: none;
}

.swfupload-wrapper .swfupload-queue h3 {
    display: none;
}

.swfupload-wrapper .swfupload-queue .swfupload-queue-progresscontainer .swfupload-progressbar-wrapper {
    display: none;
}

.swfupload-wrapper .swfupload-queue .swfupload-queue-togglequeuelink {
    display: none !important;
}

#ecommerce {
    background: #FFF;
    border: 2px solid #2C67C3 !important;
    width: 500px;
}

.ecommerce_order td {
    border: 0;
    padding: 0.1em 1em;
}

#section_config {
    position: absolute;
    top: 0;
    left: 430px;
    background: #FFF;
    padding: 3px;
    border: 2px solid #3F75C7;

}

#section_config2 {
    position: absolute;
    top: 0;
    left: 650px;
    background: #FFF;
    padding: 3px;
    border: 2px solid #3F75C7;
}

h1.obituaries {
    float: left;
}

.overflow {
    overflow: hidden;
}

ul.sf_admin_actions {
    background: #FFF;
    width: 260px;
    padding: 2px;
    border: 2px solid #3F75C7;
}

div.sf_admin_list {
    min-width: 1200px;
}

#sf_admin_content {
    margin: 35px 0 0 0;
}

#sf_admin_content .active_candle_count,
#sf_admin_content .active_photo_count,
#sf_admin_content .active_movie_count {
    font-weight: bold;
}

#sf_admin_content .pending_candle_count,
#sf_admin_content .pending_photo_count
#sf_admin_content .pending_movie_count {
    color: #00A;
    font-weight: bold;
}

#sf_admin_content .hidden_candle_count,
#sf_admin_content .hidden_photo_count,
#sf_admin_content .hidden_movie_count {
    color: #E00;
    font-weight: bold;
}

#sf_admin_container ul.sf_admin_obituary_actions li.sf_admin_action_edit a,
#sf_admin_container ul.sf_admin_obituary_actions li.sf_admin_action_config a,
#sf_admin_container ul.sf_admin_obituary_actions li.sf_admin_action_delete a,
#sf_admin_container ul.sf_admin_obituary_actions li.sf_admin_action_scrapbook a,
#sf_admin_container ul.sf_admin_obituary_actions li.sf_admin_action_subscriptions a,
#sf_admin_container ul.sf_admin_obituary_actions li.sf_admin_action_candles a,
#sf_admin_container ul.sf_admin_obituary_actions li.sf_admin_action_photos a,
#sf_admin_container ul.sf_admin_obituary_actions li.sf_admin_action_movies a {
    background: none;
    padding-left: 0;
}

#sf_admin_content .items_count {
    font-weight: bold;
}

#sf_admin_content .player-container {
    clear: left;
}

.ui-widget {
    font-size: 1em;
}

/* piwik */
#periodString {
    font-size: 20px;
    margin-bottom: 10px;
}

#currentPeriod {
    border-bottom: 1px dotted #520202;
}

#datePicker {
    font-size: 12px;
}

#sf_admin_container .sf_admin_pagination a {
    color: #888;
}

#sf_admin_content .sf_admin_list_td_domain_id {
    width: 35px;
}

#sf_admin_container ul li.sf_admin_action_manage a {
    background: url(/img/manage.png) no-repeat;
}

#sf_admin_container ul li.sf_admin_action_obituaries a {
    background: url(/img/obituaries.gif) no-repeat;
}

#sf_admin_container ul li.sf_admin_action_products a {
    background: url(/img/products.png) no-repeat;
}

#sf_admin_container ul li.sf_admin_action_users a {
    background: url(/img/users.jpg) no-repeat;
}

#sf_admin_container ul li.sf_admin_action_statistics a {
    background: url(/img/statistics.gif) no-repeat;
}

#sf_admin_container ul li.sf_admin_action_to_uc a {
    background: url(/img/uc.gif) no-repeat;
}

#sf_admin_container ul li.sf_admin_action_restore a {
    background: url(/img/restore.png) no-repeat;
}

#sf_admin_container ul li.sf_admin_action_to_production a {
    background: url(/img/toproduction.png) no-repeat;
}

#sf_admin_container ul li.sf_admin_action_remove a {
    background: url(/img/remove.png) no-repeat;
}

#sf_admin_content .sf_admin_form_field_domain_name {
    font-size: 18px;
}

#sf_admin_content .sf_admin_form_field_domain_name input {
    width: 300px;
}

#domains_tree ul.sf_admin_td_actions {
    float: right;
}

#sf_admin_content .sf_admin_form_field_email input {
    width: 300px;
}

#sf_admin_container .sf_admin_form_field_service_place {
    float: left;
    border: 0;
}

#sf_admin_container .sf_admin_form_field_service_to_events {
    float: left;
    clear: none;
    border: 0;
}

#sf_admin_container .sf_admin_form_field_visitation_place {
    float: left;
    border: 0;
}

#sf_admin_container .sf_admin_form_field_visitation_to_events {
    float: left;
    clear: none;
    border: 0;
}

#sf_admin_container .sf_admin_form_obituaries_config label {
    width: 10em;
}

#sf_admin_container .sf_admin_form_obituaries_config .radio_list {
    float: left;
}

#sf_admin_container tr:hover {
    background: #E7EEF6;
}

#sf_admin_container .sf_admin_form_row {
    overflow: hidden;
    background: #FFF;
}

#sf_admin_container .sf_admin_form_row_even {
    float: left;
}

#sf_admin_container .sf_admin_form_row_odd {
    clear: none;
    padding-top: 8px;
    padding-bottom: 12px;
}

#sf_admin_container .sf_admin_form_row_odd input {
    width: 250px;
}

.sf_admin_form_obituaries_config .fields_config .sf_admin_form_row {
    height: 25px;
}

#sf_admin_container tr.candlestate2,
#sf_admin_container tr.photostate2,
#sf_admin_container tr.moviestate2,
#sf_admin_container tr.subscriptionenabled0 {
    background-color: #ffe0e0;
}

#sf_admin_container tr.candlestate1,
#sf_admin_container tr.photostate1,
#sf_admin_container tr.moviestate1,
#sf_admin_container tr.subscriptionenabled1 {
    background-color: #eeeeff;
}

#verse-obituaries-config-facebook-link {
    margin: 5px 0 0 145px;
}

.config_obituary_image_loader {
    display: none;
    margin-left: 10px;
}

#config_obituary_theme_image {
    float: left;
}

#config_obituary_theme_image_preview {
    float: left;
    margin-left: 10px;
}

#config_obituary_military_image {
    float: left;
}

#config_obituary_military_image_preview {
    float: left;
    margin-left: 10px;
}