#add-domain-button, #add-list-domain-button {
    margin: 0 10px;
}

#add-domain-message, #add-list-domain-message {
    background-color: #EB9EA6;
    clear: both;
    display: none;
    float: left;
    margin-top: 5px;
    padding: 5px;
}

#add-list-domain-button {
    clear: right;
    float: left;
}

#domains, #group-pages {
    clear: both;
    float: left;
}

.domain, .list-domain {
    padding-top: 5px;
}

.domain-delete, .list-domain-delete {
    cursor: pointer;
    float: right;
    padding-left: 20px;
}

.domain-name {
    padding-bottom: 10px;
}

.domain-name span {
    padding-left: 10px;
    text-decoration: underline;
}

.domain-pages {
    clear: both;
    overflow: hidden;
}

.domain-page {
    float: left;
    overflow: hidden;
    padding: 0 50px 5px 0;
}

#group-pages .domain-page label {
    clear: right;
    overflow: hidden;
    padding: 0 0 5px 10px;
}

#group-pages .preloader {
    display: none;
}

.domain-page input {
    clear: left;
    display: block;
    float: left;
}

.group-domain-pages {
    clear: both;
    overflow: hidden;
    padding-top: 15px;
}

#list-parent-domains {
    clear: both;
    float: left;
}

#shared-list-parent-domains {
    margin-top: 5px;
}

#sms_domain_link_list_domain_id {
    clear: left;
    float: left;
    margin-top: 1px;
}

#shared-obits-share-parent {
    clear: both;
    margin-top: 10px;
}