html, body {
  height: 100%;
}

#candle_name, #candle_email, #candle_memories, #candle_captcha {
    border: 2px inset #888;
    padding: 3px;
    background: #eee;
    font-family: tahoma, arial, sans-serif;
}

.candle-images {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.candle-images input {
    clear: both;
    display: block;
    margin: 3px 0 0 17px;
}

.candle-images li {
    float: left;
    margin-bottom: 5px;
    margin-right: 15px;
}

.candle-image {
    clear: both;
}

.captcha-container {
    overflow: hidden;
}

.cart-count, .cart-count-product {
  width: 30px;
}

.cart-count {
  margin-right: 5px;
}

.content-switcher-container {
    overflow: hidden;
}

.content-switcher-container div {
    overflow: hidden;
    float: left;
}

.content-switcher-container .content-switcher-content-1 {
    margin-right: 10px;
}

.content-switcher-container .active {
    background-color: #C7E792;
}

.ace_content {
    text-align: left;
}

#edit-buttons {
    position: absolute;
    top: 0;
    z-index: 10;
}

#edit-buttons .editor-button {
    clear: both;
    float: left;
    margin-top: 10px;
}

#editor-container, #editor {
    float: left;
    overflow: hidden;
    position: relative;
}

#editor-container {
    height: 100%;
    margin-right: 10px;
    padding: 0 10px;
    width: 0;
}

#editor {
    margin-bottom: 10px;
    width: 100%;
}

.editor-button {
    cursor: pointer;
}

#editor-message {
    background-color: #EDFCED;
    clear: both;
    margin-top: 5px;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}

.florist-all-categories-link {
    display: block;
    margin-bottom: 10px;
}

.florist-category {
    float: left;
    height: 250px;
    margin: 10px;
    width: 195px;
}

.florist-category .name {
    text-align: center;
}

#florist-checkout-form #card_expiration_month {
    width: 60px;
}

#florist-checkout-form #card_expiration_year {
    width: 127px;
}

#florist-checkout-form fieldset {
    margin-bottom: 15px;
}

#florist-checkout-form input[type=text] {
    margin-bottom: 15px;
    width: 185px;
}

#florist-checkout-form select {
    margin-bottom: 15px;
    width: 190px;
}

#florist-checkout-form textarea {
    margin-bottom: 15px;
    width: 185px;
}

#florist-checkout-info-form {
    margin-top: 20px;
}

.florist-header {
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    text-decoration: underline;
}

.florist-left {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
}

.google-map {
    display:none;
    height:200px;
    margin: 10px 0;
    width:100%;
}

.hide-map {
    display:none;
}

.jcarousel-prev, .jcarousel-next {
    cursor:pointer;
    position: absolute;
    height:30px;
    width:30px;
}

.jcarousel-prev {
    background:url("/img/arrow_left.png") no-repeat;
    left:0;
}

.jcarousel-next {
    background:url("/img/arrow_right.png") no-repeat;
    right:0;
}

.jcarousel-clip {
    overflow:hidden;
    width:455px;
    border: 2px solid #777;
    box-shadow: 0 0 2px 2px #777;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    border-radius: 5px;
}

.jcarousel-container {
    float:left;
    overflow:hidden;
    padding:10px 40px;
    width:465px;
}

.last-obituaries-box {
    overflow:hidden;
    text-align:center;
    width:100%;
}

.last-obituaries-item {
    padding:0 5px;
    width:145px;
}

.last-obituaries-item img, .last-obituaries-item-text {
    float:left;
}

.last-obituaries-item-text {
    padding-left:5px;
    width:90px;
}

.length-limited {
    margin-bottom: 15px;
    resize: none;
}

.verse-obit-addmediaform {
    clear: left;
}

.verse-obit-addmediaform div.swfupload-queue .swfupload-queue-togglequeuelink {
  right: 10px;
}
.verse-obit-addmediaform div.swfupload-queue ul li {
  background: #ffffff none;
  color: #000000;
}

.verse-obit-addmediaform div.swfupload-queue ul li.swfupload-queued-file-ok .swfupload-queued-file-messagecontainer {
  color: #000000;
}

.verse-obit-addmediaform div {
    overflow: hidden;
    position: relative;
}

.verse-obit-captcha-parenthesis {
    color: red;
}

.verse-obit-media {
    float:left;
    height:100px;
    overflow:hidden;
    padding:10px;
    vertical-align:middle;
    width:100px;
}

.verse-obit-mediaphotos, .verse-obit-mediamovies {
    overflow:hidden;
}

.verse-obit-workarea {
    overflow: hidden;
}
