body, form {
	margin: 0;
}

form {
	padding-bottom: 10px;
}

h1, h2 {
	margin: 0;
	margin-bottom: 5px;
	margin-top: 5px;
}

p {
	margin-top: 5px;
	margin-bottom: 10px;
}

h1 {
	font-family: Arial;
	font-size: 21px;
}

h2 {
	font-family: Arial;
	font-size: 18px;
}

img {
	border: 0;
}
a {
	text-decoration: none;
	color: #5000FF;
}
a:hover {
	text-decoration: underline;
}

label {
	display: block;
	position: relative; /* fix for IE */
	float: left;
	text-align: right;
	width: 110px;
	margin-bottom: 2px;
  margin-right: 5px;
}

label.error {
  display: inline;
  float: none;
  margin-left: 5px;
  color: #F00000;
}
input.error {
  border: 2px solid #F00000;
}

fieldset br {
	clear: left;
}

div.main_menu {
	float: left;
}

div.main_menu li ul {
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: 0 !important;
	margin-left: 1px;
}

div.main_menu ul li ul.popup_menu li {
  z-index: 10;
}

/* popup stuff */
div.main_menu li ul,
div.main_menu li:hover ul ul
{ display: none; }

div.main_menu li:hover ul,
div.main_menu li:hover ul li:hover ul
{ display: block; }

/* IE6 UL display fix */
div.main_menu ul li
{
	_float: left;
	_width: 100%;
}

div.content {
	padding: 5px 10px 0 10px;
}

table.events_calendar {
	width: 100%;
}
th {
  text-align: center;
}

div.recent_obituaries div.item {
  float: left;
  width: 165px;
}
div.recent_obituaries div.item div.inner {
  padding-bottom: 5px;
  padding-right: 5px;
}

div.mp3player {
  position: fixed;
  top: 0;
  right: 0;
}

div.splitter {
  height: 11px;
  width: 100%;
  background: url(../img/splitter.gif) left center repeat-x;
  font-size: 0px;
}
div.splitter2 {
  height: 11px;
  width: 100%;
  background: url(../img/splitter2.gif) left center repeat-x;
  font-size: 0px;
}

#verse-member-controls {
  font-size: 12px;
  margin-bottom: 10px;
}
#verse-member-controls div.logout {
  float: right;
}
#verse-member-controls div.profile {
  float: right;
  margin-right: 10px;
}

#verse-wall .menu {
  font-size: 80%;
  display: block;
  margin: 5px 0;
  text-align: right;
}
#verse-wall table {
  width: 100%;
}
#verse-wall .message {
  padding: 2px 5px 5px 5px;
}
#verse-wall .even {
  background-color: #F5F5F5;
}
#verse-wall .odd {
  background-color: #EEE;
}
#verse-wall .thread {
  padding: 10px 5px;
}
#verse-wall .thread_info {
  float: right;
  font-size: 80%;
}
#verse-wall .info {
  background-color: #DDD;
  font-size: 80%;
  padding: 2px 5px;
}
#verse-wall .footer {
  border-top: 1px solid #DDD;
  font-size: 80%;
  padding: 2px 5px;
}
#verse-wall .thread_footer {
  font-size: 80%;
  text-align: right;
}
#verse-wall .reply {
  margin-top: 10px;
}
#verse-wall #create-discussion-form {
  margin-top: 10px;
}
#verse-wall #reply0 {
  margin-top: 10px;
}
#verse-wall .level {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  background-color: #F5F5F5;
}
#verse-wall .reply-place #post-message-form {
  padding-top: 10px;
  padding-right: 10px;
  background-color: #F5F5F5;
  margin-left: 20px;
  border: 1px solid #DDD;
  border-top: none;
}
#verse-wall .level2 {
  margin-left: 20px;
}
#verse-wall .level3 {
  margin-left: 40px;
}
#verse-wall .level4 {
  margin-left: 60px;
}
#verse-wall .level5 {
  margin-left: 80px;
}
#verse-wall .level6 {
  margin-left: 100px;
}
#verse-wall .level7 {
  margin-left: 120px;
}
#verse-wall .level8 {
  margin-left: 140px;
}
#verse-wall .level9 {
  margin-left: 160px;
}

div.messages {
  background: #BFE9FF;
  border: 1px solid #3fa9f5;
  padding: 3px 5px;
  margin-bottom: 7px;
}
div.error {
  background: #F0A0A0;
  border: 1px solid #B00000;
	margin-bottom: 10px;
  padding: 2px;
}

#products_pagenator, #products_report {
  width: 630px;
}
#products_pagenator {
  background-color: #DDD;
}

.list {
	width: 550px;
}
