body, form {
	margin: 0;
}

form {
	padding-bottom: 10px;
}

p, h1, h2 {
	margin: 0;
	margin-bottom: 5px;
	margin-top: 5px;
}

h1 {
	font-family: Arial;
	font-size: 21px;
}

h2 {
	font-family: Arial;
	font-size: 18px;
}

img {
	border: 0;
}
a {
	text-decoration: none;
	color: #5000FF;
}
a:hover {
	text-decoration: underline;
}

label {
    clear: left;
	display: block;
	position: relative; /* fix for IE */
	float: left;
	text-align: right;
	width: 110px !important;
	width: 120px;
	padding-right: 10px;
	margin-bottom: 3px;
}

fieldset br {
	clear: left;
}

div.main_menu {

}

div.main_menu li ul {
	position: absolute; 
	top: 100%; 
	left: 0; 
	z-index: 1;
}

div.main_menu li ul li ul {
	position: absolute; 
	top: 0; 
	left: 100%; 
	z-index: 1;
}

/* popup stuff */
div.main_menu li ul,
div.main_menu li:hover ul ul
{ display: none; }

div.main_menu li:hover ul,
div.main_menu li:hover ul li:hover ul
{ display: block; }

div.content{
	padding: 5px 10px 0 25px;
}
table.events_calendar {
	width: 100%;
}
th {
  text-align: center;
}

div.recent_obituaries div.item {
  float: left;
  width: 165px;
}
div.recent_obituaries div.item div.inner {
  padding-bottom: 5px;
  padding-right: 5px;
}

div.mp3player {
  position: fixed;
  top: 0;
  right: 0;
}

div.splitter {
  height: 11px;
  width: 100%;
  background: url(../img/splitter.gif) left center repeat-x;
  font-size: 0px;
}
div.splitter2 {
  height: 11px;
  width: 100%;
  background: url(../img/splitter2.gif) left center repeat-x;
  font-size: 0px;
}

#verse-member-controls {
  font-size: 12px;
  margin-bottom: 10px;
}
#verse-member-controls div.logout {
  float: right;
}
#verse-member-controls div.account {
  float: right;
  margin-right: 10px;
}

#products_pagenator, #products_report {
  width: 630px;
}
#products_pagenator {
  background-color: #DDD;
}

div.messages {
  background: #BFE9FF;
  border: 1px solid #3fa9f5;
  padding: 3px 5px;
  margin-bottom: 7px;
}
div.error {
  background: #F0A0A0;
  border: 1px solid #B00000;
	margin-bottom: 10px;
  padding: 2px;
}
