/* CSS Mini Reset */
/* http://www.vcarrer.com/2010/05/css-mini-reset.html */
html, body, div, form, legend, label {
  margin: 0;
  padding: 0;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

th, td {
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

body{font:13px/1.231 tahoma,arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}

/* ------- */

/* ------- */

#verse-obit {
  position: relative;
}
#verse-obit h2 {
	margin: 0;
}
.verse-obit-border-1 {
  background: url(/img/ob_outtopbg1.gif) repeat-x 0 top;
}
.verse-obit-border-8 {
  background: url(/img/ob_bottomright1.jpg) no-repeat bottom right;
  overflow: hidden;
}
.verse-obit-border-7 {
  background: url(/img/ob_bottomleft1.jpg) no-repeat bottom left;
}
.verse-obit-border-6 {
	background: url(/img/ob_topright1.jpg) no-repeat top right;
}
.verse-obit-border-5 {
	background: url(/img/ob_topleft1.jpg) no-repeat;
}
.verse-obit-border-4 {
  background: url(/img/ob_outleftbg1.gif) repeat-y right 0;
}
.verse-obit-border-3 {
  background: url(/img/ob_outleftbg1.gif) repeat-y left 0;
}
.verse-obit-border-2 {
  background: url(/img/ob_outtopbg1.gif) repeat-x 0 bottom;
}

.verse-obit-inner {
	margin: 50px;
	border: 1px solid black;
	background-color: #FFF;
	overflow: hidden;
}
.verse-obit-inner h1 {
	position: absolute;
	top: 10px;
	left: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.verse-obit-left {
	width: 200px;
	float: left;
}
.verse-obit-left-inner {
  padding: 10px 10px 10px 15px;
}
.verse-obit-main {
  padding-left: 200px;
}
.verse-obit-main-inner {
  padding: 10px;
}

.verse-obit-splitter {
	background: url(/img/splitter.gif) repeat-x left center;
	height: 11px;
	font-size: 0;
}
.verse-obit-spacer {
	margin-bottom: 15px;
}

.verse-obit-overflow {
	overflow: hidden;
}
.verse-obit-field-group {
	width: 50%;
	float: left;
	min-width: 230px;
}
.verse-obit-field {
	margin-right: 10px;
}
.verse-obit-field-title {
	font-weight: bold;
}

.verse-obit-photo {
	width: 200px;
	margin-bottom: 25px;
}

.verse-obit-action {
	display: block;
	padding-left: 55px;
	text-decoration: none;
	color: inherit;
	margin-bottom: 15px;
	min-height: 45px;
	_height: 45px; /* IE6 stuff */
}
.verse-obit-action:hover {
  text-decoration: underline;
}
.verse-obit-action-title {
  font-weight: bold;
}
.verse-obit-action-desc {
  font-size: 0.85em;
}

.light-a-candle {
	background: url(/img/ob_lightacandle2.jpg) no-repeat;
}
.view-all-candles {
  background: url(/img/ob_viewallcandles2.jpg) no-repeat;
}
.send-flowers {
  background: url(/img/ob_sendflowers2.jpg) no-repeat;
}
.subscribe-for-candles {
  background: url(/img/ob_subscribe2.jpg) no-repeat;
}
.subscribe-for-obits {
  background: url(/img/ob_subscribe2.jpg) no-repeat;
}
