.obit-search-form {
    position: relative;
}

.obit-search-form form {
    padding-bottom: 10px;
}

.obit-search-date-popup {
    background-color: #ffffff;
    border: #DEDEDE 1px solid;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: -40px;
    z-index: 10;
}

.obit-search-form-clear-date {
    bottom: 0;
    font-size: 12px;
    margin-left: 25px;
    position: absolute;
}

a.obit-search-form-clear-date {
    text-decoration: none;
}