.swfupload-wrapper {
    display: none;
}
#media_media {
    display: none;
}
#uploadedItems {
    overflow: hidden;
}

.uploadedItem {
    float: left;
    margin: 5px 5px 5px 25px;
    background: transparent;
    position: relative;
    width: 100px;
    height: 120px;
}

.uploadedItemCaption {
    font-size: 11px;
    margin-top: 5px;
    width: 95px;
}

.emptyCaption {
    color: #DCDEDC;
}

.uploadedItemRemove {
    position: absolute;
    right: -7px;
    top: -8px;
}

#uploadedItemsErr {
    margin: 5px 0 0 15px;
    color: red;
    font: bold 13px Arial;
}

.upload-help-message {
    overflow: hidden;
    padding: 10px 0;
}

.ui-progressbar-value {
    background-image: url(/img/progress/pbar-ani.gif);
    display: block !important
}

.ui-progressbar {
    height: 20px;
    width: 100%;
    text-align: center
}

.ui-progressbar-value {
    margin: -1px;
    height: 100%;
}

object.swfupload {
    position: static;
    cursor: pointer;
}
