body, form {
	margin: 0;
}

form {
	padding-bottom: 10px;
}

h1, h2 {
	margin: 0;
	margin-bottom: 5px;
	margin-top: 5px;
}

p {
	margin-top: 5px;
	margin-bottom: 10px;
}

h1 {
	font-family: Arial;
	font-size: 21px;
}

h2 {
	font-family: Arial;
	font-size: 18px;
}

img {
	border: 0;
}

a {
	text-decoration: none;
	color: #5000FF;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
	position: relative; /* fix for IE */
	float: left;
	text-align: right;
	xwidth: 110px !important;
	width: 110px;
	xpadding-right: 10px;
	margin-bottom: 3px;
}

fieldset br {
	clear: left;
}

div.content {
	padding: 5px 10px 0 10px;
}

table.events_calendar {
	width: 100%;
}
th {
  text-align: center;
}

div.recent_obituaries div.item {
  float: left;
  width: 165px;
}
div.recent_obituaries div.item div.inner {
  padding-bottom: 5px;
  padding-right: 5px;
}

div.mp3player {
  position: fixed;
  top: 0;
  right: 0;
}

#contactus label {
  margin-right: 3px;
}
#contactus fieldset {
  margin-bottom: 5px;
}
