div.window {
	position: absolute;
	background-color: silver;
	border: 2px outset silver;
}

div.caption {
	color: #FFFFFF;
	background-color: #63A8DF; 
	padding: 1px 3px;
	cursor: default;
	font: 14px Verdana;
	font-weight: bold;
	height: 18px !important;
	height: 20px;
}

div.content {
	padding: 3px 3px;
}

input, select {
	font-size: 10px;
}

input.txt {
	width: 150px;
}

input.txt2 {
	width: 280px;
}

input.txt3 {
	width: 380px;
}

input.pass {
	width: 100px;
}

input.file {
	width: 200px;
}

input.font {
	width: 200px;
}

input.date {
	width: 70px;
}
input.datetime {
	width: 120px;
}
input.time {
	width: 220px;
}
input.chk {
	display: block;
	float: left;
	margin-bottom: 3px;
}
input.price {
	width: 70px;
}
input.color {
	width: 65px;
}
input.phone {
	width: 100px;
}
input.small {
	width: 50px;
}

select.multi {
	width: 200px;
}
select.scrap {
	width: 360px;
}

label {
	display: block;
	float: left;
	text-align: right;
	width: 100px !important;
	width: 120px;
	padding-right: 10px;
}
div.wysiwyg {
  padding-left: 110px !important;
  padding-left: 122px;
}

label.in, label.inline {
	display: inline;
	float: none;
	width: auto;
}

br {
	clear: left;
}

.dialog form {
	text-align: left;
}

div.progress {
  width: 220px;
  height: 19px;
  margin-left: 100px; !important;
  margin-left: 120px;
}
div.progress div.bar {
  height: 19px;
  width: 1px;
  padding-top: 2px;
  background-image: url(../img/loader-big.gif);
  text-align: center;
}
